{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:경영학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:경영학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>경영학연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/경영학연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>경영학술동아리 경영학연구회입니다. 실질적 학술활동과 즐거운 친목활동 모두 합니다~</p>
                    <h3>동아리 소개</h3>
                    <p>-경영학연구회(BARC, Business Administration Reaserch Committee) </br>
                        역사가 있는 동아리</br>
                        경영학연구회는 동국대학교 중앙동아리로서 69학번 선배님 세대부터 그 역사를 이어오고 있습니다.
                        이후 수많은 졸업생을 배출하여 대기업, 공기업, 외국계기업, 은행, 회계법인, 벤처창업 등 다양한 분야에
                        인적네트워크가 넓게 형성되어 있고 선배님들과의 교류가 굉장히 활발합니다.
                        “졸업을 해도 BARC의 졸업은 없다”는 말이 있을 정도로 선후배 관계가 돈독하며,
                        재학생들도 활용할 수 있는 인적 네트워크 시스템이 구축되어 있습니다. </p>
                    <p> -실질적으로 도움이 되는 학술활동 </br>
                        학술활동은 주로 경영학을 위주로 이루어집니다.
                        연구 방법 및 주제는 매 학기에 새로 선정하고 진행합니다.
                        지금까지 팀연구, 모의투자, 기업분석, 전공서적 토론, 경제 신문스터디 등 다양한 학술활동을 진행하였습니다.
                        그리고 보다 실질적으로 도움이 될 수 있는 직전학기 취업 선배들의 자소서 특강, 은행권 특강 등 취업실전강연회도 진행하였습니다.
                        지도교수님인 윤선중 교수님께서도 학업 내·외적으로 여러 방면에서 도움을 많이 주십니다. </p>
                    <p>-놀 때는 노는 동아리 </br>
                        저희 동아리는 실원들끼리 가족같은 분위기를 유지하고 있습니다.
                        한 학기에 MT, 체육대회 등의 행사뿐만 아니라 한강이나 놀이공원을 가거나 액티비티, 맛집 탐방과 같은 모임을 자주 합니다.
                        뿐만 아니라 매년 2번의 큰행사(1학기 체육대회, 2학기 졸업생환송회)를 열어서 교수님, 졸업생, 재학생이 모두 한자리에 모이는 지속적인 자리를 마련하고 있습니다. </p>
                    <p>-안락한 동아리방 </br>
                        동아리 방은 경영관 지하 1층, 그루터기 옆에 위치하고 있습니다.
                        동아리 방 내에는 전용 컴퓨터와 세면대, 독서실 책상 및 사물함, 침대 등이 비치되어있습니다.
                        또한 다수의 전공 및 교양서적, 재무계산기와 공학계산기 등 학업 관련 물품들을 비치하고 있어 개인 스터디에 적극 활용하실 수 있습니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>2020년 1학기 기준 실원 31명, 휴학생 12명입니다.</p>

                    <h3>지원방법</h3>
                    <p>자격 : 3학년 이하 동국대학교 재학생 3학기 이상 활동 가능자 (나이, 전공, 성별 무관) </br>
                        모집인원 : 5~10명 </br>
                        모집일정 : 4월 6일 서류마감 </br>
                        지원방법 : </br>
                        1. 입회원서 제출(디연 접속 후, 홍보게시판-교내홍보-BARC(1번게시물) <2020년도 1학기 입회원서> 다운) </br>
                            온라인 제출 : Gunguns97@naver.com </br>
                            오프라인 제출 : 경영관 지하1층 그루터기 옆 경영학 연구실 </br>
                            2. 면접실시 : 1차 합격자 추후 개별 연락 예정 </br>
                            4월8일~9일 면접 진행 </br>
                            *코로나 바이러스로 인해 일정변경 있을 수 있습니다. </br>
                            문의 : Gunguns97 카톡 문의</p>

                    <h3>회장의 한마디</h3>
                    <p>동국대학교 경영학연구회 화이팅^^</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}