{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:국제통상연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:국제통상연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>국제통상연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/국제통상연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>국제통상학 연구실 DUIT입니다. 
                        다양한 친목활동과 학술활동을 장려하는 국제통상학과의 대표적인 소모임 동아리입니다</p>
                    <h3>동아리 소개</h3>
                    <p>MT, 소풍, 멘토멘티 (학술적인 멘토링을 포함한 전반적 학교생활의 도움 및 유용한 정보제공), 여행, 마니또 등 다양한 친목활동뿐만 아니라
                        사회진출하신 선배님들과의 교류,
                        우수재학생 대상 동문회 장학금 수여,
                        재학생간 자유로운 스터디활동지원 등을 하고 있습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>학기마다 40명 내외의 인원으로 활동합니다.
                        학번별 15명 내외의 동아리인원</p>
                    <h3>지원방법</h3>
                    <p>자격 국제통상학과 1,2 학년 재학생 / 타과생 복전생은 학년제한 없음 </br>
                        모집인원 00명 </br>
                        모집일정 차후 공지 (개강 후 셋째 주 수요일) </br>
                        지원방법 지원기간 내지원서 작성 후 제출 </br>
                        -문의대표자 성함, 연락처/ 동방위치) : </br>
                        실장 오윤석 010 6559 9298 / 위치 : 경영관 지하1층 그루터기 옆 </br>
                        부실장 김기호 010 5066 7248 </br>
                        총무 박세진 010 4379 7747 </br></p>
                    <h3>회장의 한마디</h3>
                    <p>연구실에서 다 같이 맛있는것도 먹고 놀러도가면서 다양하고 재미있는 추억들을 함께 만들어갈 수 있으면 좋겠어요! 
                        수업 사이사이 공강에는 모여서 수다도 떨면서 간식도 먹고, 시험기간에는 다같이 열심히 재미있게 공부해요! 
                        연구실에 들어와서 즐거운 캠퍼스라이프를 보낼 수 있으면 좋겠어요! </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}