{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="#" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>정치학연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/pic04.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>정치학 연구실은 정치와 관련된 세미나, 토론, 논문 발표 등의 활동을 합니다.</p>
                    <h3>동아리 소개</h3>
                    <p>정치학 연구실은 정치학에 관심이 있는 학생들이 정치학을 기본으로 다양한 학문 지식을 쌓는 것을 목표로 하고 있는 학술동아리입니다. 
                        구체적인 활동으로는 학술세미나와 논문발표회가 있으며, 구성원들의 친목을 다질 수 있는 여러 활동들도 진행합니다. 
                        때로는 졸업하신 선배들과의 만남을 주선하여 구성원들끼리의 가족 같은 분위기를 통해 즐겁고 활기찬 대학생활을 추구하기도 합니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>21명</p>
                    <h3>지원방법</h3>
                    <p>자격 : (2020년-1학기 기준) 1, 2학년 재학생 </br>
                        모집인원 : 미정 </br>
                        모집일정 : ~3월 31일(추후 연장될 수 있음) </br>
                        지원방법 : 010-4910-5470으로 문자 또는 카톡 문의 </br>
                        문의 :  : 서준엽, 010-4910-5470 / 동국대학교 사회과학관 M동 5층 </p>
                    <h3>회장의 한마디</h3>
                    <p>정치에 관한 지식이 없다고 지원을 망설이지 마세요. 
                        정치학 연구실에서 함께 배워나가요~~</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}