{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:정치학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:정치학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>정치학연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/정치학연구회.jpeg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>정치학 연구실은 정치와 관련된 세미나, 토론, 논문 발표 등의 활동을 합니다.</p>
                    <h3>동아리 소개</h3>
                    <p>정치학 연구실은 정치학에 관심이 있는 학생들이 정치학을 기본으로 다양한 학문 지식을 쌓는 것을 목표로 하고 있는 학술동아리입니다.
                        구체적인 활동으로는 학술세미나와 논문발표회가 있으며, 구성원들의 친목을 다질 수 있는 여러 활동들도 진행합니다.
                        때로는 졸업하신 선배들과의 만남을 주선하여 구성원들끼리의 가족 같은 분위기를 통해 즐겁고 활기찬 대학생활을 추구하기도 합니다.</p>

                    <p>❓왜 정치학 연구실인가요❓<br>
                        1. 가족 같은 분위기와 다양한 친목활동<br>
                        🔹 ‘대부대모제’로 선후배 간 가족과 같은 분위기가 특징입니다.<br>
                        🔹 정기 집회 후의 뒤풀이와 여름, 겨울 MT, 축제, 소풍, 문화집회 등의 다양한 활동(코로나19 상황 호전 시)이 이루어집니다.<br>
                        🔹 졸업 후에는 정치학 연구회에 속하게 되어 신입생 환영회, 논문발표회 등에 참가하여 관계를 지속적으로 이어갈 수 있습니다.</p>

                    <p>2. 수준 높은 정치학 관련 학술활동<br>
                        🔹 1, 2학년은 매주 정치학 관련 세미나를 진행합니다. 평소 관심 있었던 국내외 정치사회 이슈를 깊게 탐구할 수 있습니다.
                        또한 피피티 제작 및 에세이 작성 요령을 담은 선배의 피드백은 학점 관리에도 큰 도움이 됩니다. <br>
                        🔹 3학년은 논문 세미나를 진행하고, 지도 교수님의 피드백을 받아 논문을 작성합니다. 이후 논문 발표회를 갖습니다.</p>

                    <p>3. 58년의 역사와 전통<br>
                        🔹 정치학 연구실은 1963년에 창립되어, 현재 58년의 전통을 이어오고 있습니다. <br>
                        오랜 역사를 지닌 만큼 선배님들이 사회 여러 분야에 진출해 계시고, 선후배 간 끈끈한 관계가 맺어져 있습니다.<br>
                        🔹 매년 정기적으로 진행되는 신입생 환영회, 논문 발표회 등에서 졸업하신 선배님들과의 자리를 갖습니다.</p>

                    <p>4. 깔끔한 동아리실과 풍부한 구비 물품<br>
                        🔹 사회과학관 5층에 정치학 연구실 동아리방이 위치해 있습니다.<br>
                        🔹 전원 지정좌석제로 운영되는 독서실 책상이 있으며 공강시간과 주말 등 언제든 과제와 개인 공부가 가능합니다.<br>
                        🔹 프린트기, 인기 전공, 교양 서적, 상비약, 생활 용품, 충전기 등이 구비되어 있습니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>21명</p>

                    <h3>지원방법</h3>
                    <p>자격 : (2020년-1학기 기준) 1, 2학년 재학생 </br>
                        모집인원 : 미정 </br>
                        모집일정 : ~3월 31일(추후 연장될 수 있음) </br>
                        지원방법 : 010-4910-5470으로 문자 또는 카톡 문의 </br>
                        문의 : : 서준엽, 010-4910-5470 / 동국대학교 사회과학관 M동 5층 </p>

                    <h3>회장의 한마디</h3>
                    <p>정치에 관한 지식이 없다고 지원을 망설이지 마세요.
                        정치학 연구실에서 함께 배워나가요~~</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}