{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">

			<!-- Sidebar -->
			<div id="sidebar" class="col-4 col-12-medium">

				<!-- Excerpts -->
				<section>
					<ul class="divided">
						<li>

							<!-- Excerpt -->
							<article class="box excerpt">
								<header>
									<span class="date">분과</span>
								
								</header>
								<h2>공연분과</h2>
									<h3><a href="#"> -	극예술연구회</a></h3>
									<h3><a href="#"> -	로터스</a></h3>  
									<h3><a href="#"> -	뭉게구름</a></h3>  
									<h3><a href="#"> -	아리랑</a></h3>
									<h3><a href="#"> -	음샘</a></h3>
									<h3><a href="#"> -	피어리스던</a></h3>
									<h3><a href="#"> -	현여울</a></h3>
									<h3><a href="#"> -	AJAX</a></h3>
									<h3><a href="#"> -	HOLA</a></h3>
									<h3><a href="#"> -	ODC</a></h3>
									<h3><a href="#"> -	OPUS</a></h3>
									
									<br><br>

									<h2>봉사분과</h2>
									<h3><a href="#"> -	길</a></h3>
									<h3><a href="#"> -	손짓사랑회</a></h3>  
									<h3><a href="#"> -	젊은새이웃</a></h3>  
									<h3><a href="#"> -	페인터즈</a></h3>
									<h3><a href="#"> -	푸름누리</a></h3>
									<h3><a href="#"> -	한글학교하람</a></h3>
									<h3><a href="#"> -	E.L.F</a></h3>
									<h3><a href="#"> -	RCY</a></h3>
									
									<br><br>

									<h2>사회분과</h2>
									<h3><a href="#"> -	동국불교학생회</a></h3>
									<h3><a href="#"> -	프론티어</a></h3>  
									<h3><a href="#"> -	KUSA</a></h3>  
									<h3><a href="#"> -	RICH</a></h3>
									<h3><a href="#"> -	UNSA</a></h3>			

									<br><br>

									<h2>신규분과</h2>
									<h3><a href="#"> -	두둠칫</a></h3>
									<h3><a href="#"> -	멋쟁이사자처럼</a></h3>  
									<h3><a href="#"> -	인액터스</a></h3>  
									<h3><a href="#"> -	잼잼</a></h3>
									<h3><a href="#"> -	FC엘레펜테</a></h3>
									<h3><a href="#"> -	QUD</a></h3>

									<br><br>

									<h2>연구분과</h2>
									<h3><a href="#"> -	경영학연구회</a></h3>
									<h3><a href="#"> -	경제학연구회</a></h3>  
									<h3><a href="#"> -	국제통상연구회</a></h3>  
									<h3><a href="#"> -	정치학연구회</a></h3>

									<br><br>

									<h2>예창분과</h2>
									<h3><a href="#"> -	그리고그림</a></h3>
									<h3><a href="#"> -	동국문학회</a></h3>  
									<h3><a href="#"> -	동국서도회</a></h3>  
									<h3><a href="#"> -	동그라미</a></h3>
									<h3><a href="#"> -	디딤돌</a></h3>
									<h3><a href="#"> -	만화얼</a></h3>
									<h3><a href="#"> -	애드러쉬</a></h3>

									<br><br>

									<h2>체육1분과</h2>
									<h3><a href="#"> -	기우회</a></h3>
									<h3><a href="#"> -	명궁</a></h3>  
									<h3><a href="#"> -	선무부</a></h3>  
									<h3><a href="#"> -	터스커스</a></h3>
									<h3><a href="#"> -	COURTIST</a></h3>
									<h3><a href="#"> -	DUTC</a></h3>
									<h3><a href="#"> -	FC_TOTO</a></h3>
									<h3><a href="#"> -	L.A.E</a></h3>

									<br><br>

									<h2>체육2분과</h2>
									<h3><a href="#"> -	동국탐험연구회</a></h3>
									<h3><a href="#"> -	무법</a></h3>  
									<h3><a href="#"> -	바람소리</a></h3>  
									<h3><a href="#"> -	산악부</a></h3>
									<h3><a href="#"> -	수중탐구연구회</a></h3>
									<h3><a href="#"> -	DUST</a></h3>
							</article>

						</li>
						
					
					</ul>
				</section>

			</div>

			<!-- Content -->
			<div id="content" class="col-8 col-12-medium imp-medium">

				<!-- Post -->
				<article class="box post">
					<header>
						<h2><strong>Q&A Board</strong></h2>
					</header>
					<span class="image featured"><img src="{%static 'images/pic04.jpg' %}" alt="" /></span>
					
				</article>

			</div>

		</div>
	</div>
</section>
</body>
{% endblock %}