{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:DUTC'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:DUTC'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>DUTC</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/DUTC.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>DUTC는 동국대학교의 테니스 중앙동아리로서 테니스를 좋아하는 분들이라면 누구나 환영합니다! 실력에 상관없이 테니스를 배울 수 있고 다양한 활동과 MT, 뒤풀이를 진행합니다</p>

                    <h3>동아리 소개</h3>
                    <p>테니스에 관심이 있다면 실력에 관계없이 누구나 들어올 수 있습니다!
                        월 화 목 금마다 훈련부장이 있어 실력에 맞춰 친절하게 강습을 해줍니다. 테니스가 처음인 부원들을 위해 테니스 라켓, 공 등의 장비들도 구비 되어있습니다. 운동복과 밑바닥이 평평한 신발 신고 몸만 오시면 됩니다!</br>
                        주요행사 : 전국 대학테니스동아리 연맹전, 타 대학과 교류전 및 친목도모, 전동국인제 (with 동국대학교 경주캠퍼스), 계절별 MT, 여름방학 훈련</p>

                    <h3>현재 활동인원</h3>
                    <p>78명</p>
                    
                    <h3>지원방법</h3>
                    <p>자격 : 동국대 학생이라면 누구나 
                        인원 : 제한없음 </br>
                        모집일정 : ~3/26일 까지 </br>
                        지원방법 : 메시지, 카카오톡, 에브리타임 쪽지 </br>
                        문의(대표자 성함, 연락처/ 동방위치) </br>
                        -남회장 김민서 : 010-6297-6301 </br>
                        -여회장 박민경 : 010-3242-3713 </br>
                        동방위치 : 학생회관 4층</p>

                    <h3>회장의 한마디</h3>
                    <p>재밌게 테니스도 치고 다양한 사람들과 즐거운 시간을 보내고 싶은 분들은 주저하지 말고 연락 주세요!                    </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}