{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:FC_TOTO'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:FC_TOTO'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>FC TOTO</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/FC_TOTO.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>축구 중앙 동아리 FC TOTO입니다. 
                        매주 연습 및 각종 교내,외 대회 출전, 매년 OB&YB 행사를 진행하고 있습니다.</p>

                    <h3>동아리 소개</h3>
                    <p>동국대 유일 축구 중앙동아리 FC TOTO입니다. </br>
                        매주 수요일 저녁 정기 연습을 실시하고 주말에는 대회출전 및 타 팀들과 시합을 진행하고 있습니다. 교내 대회로는 토토배축구리그를 개최하고 동국챔피언스리그에 참가하고 있으며, 교외 대회로는 서울권 대학축구 리그 SUFA컵에 참가하고 있습니다. 
                        또한 매년 OB&YB 행사를 진행하여 부원들과의 화합을 도모합니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>약 40명(매니저 포함)</p>

                    <h3>지원방법</h3>
                    <p>자격 : 축구를 좋아하는 누구나 </br>
                        모집인원 : 미정 </br>
                        모집일정 : ~ 개강 후 둘째 주 까지 </br>
                        지원방법 : 대표자 연락처로 연락 </br>
                        문의 : 박승제 (010-5468-6343) </br></p>

                    <h3>회장의 한마디</h3>
                    <p>그동안 축구를 하고 싶어 안달이 난분! 일단 와보세요.</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}