{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:명궁'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:명궁'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>명궁</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/명궁.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>우리나라 전통활, 국궁을 배우는 동아리 “명궁”입니다! 
                        남산에서 활도 쏘고, 매년 MT와 소풍도 다니면서 친목활동을 이어오고 있습니다 :)</p>
                    
                    <h3>동아리 소개</h3>
                    <p>”너의 번뇌를 쏴라!” </br>
                        안녕하세요! 국궁으로 활쏘기를 배우는 동아리 ‘명궁’입니다! (양궁이 아니에요!)
                        ○ 주요 활동 :　30M 근사, 144M 원사, 서울국궁대학생연합 교류활동 등! </br>
                        ○ 활동 시간 : 매주 화~금 3시부터 5시까지!
                        필참이 아니니 편한 시간에만 오셔도 괜찮아요:) </br>
                        ○ 활동 장소 : 남산 활터 ‘석호정’에서 주로 활동해요.
                        상록원 옆 산책로로 10분정도 걸려요! </br>
                        ○ 회비 : 2만원~2만 5천원 사이에서 정할 예정입니다:) (추후공지) </br></p>

                    <h3>현재 활동인원</h3>
                    <p>25명</p>

                    <h3>지원방법</h3>
                    <p>-자격 </br>
                        국궁과 활쏘기에 관심을 가지고 있는 동국대학교 학생 누구나! </br>
                        -모집일정 </br>
                        상시모집 </br>
                        -지원방법 </br>
                        임원에게 문의 후, 입부신청서 제출 </br>
                        -문의 </br>
                        회장 박상준 010 9775 1720 / 학생회관 4층</p>
                        
                    <h3>회장의 한마디</h3>
                    <p>동아리 내 활과 화살로 연습을 나가기 때문에 개인 장비 필요 없습니다!
                        보드게임, 닌텐도 스위치, 골든벨 등 동아리 내 여러 친목활동도 진행 하고 있어요.
                        다소 생소할 수도 있는 국궁이지만, 그만큼 이색적인 활동이 가능한 체육 중앙동아리입니다.
                        서울 대학생 국궁 연합회 소속으로 다른 대학 국궁 동아리와도 활발하게 교류하고 있어요.
                        다양한 국궁 관련 대회 또한 참가하고 있습니다!
                        새로운 도전을 하고 싶으시다면 언제든 연락주세요! ☎</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}