{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:선무부'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:선무부'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>선무부</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/선무부.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>태권도 동아리 선무부입니다. 
                        학기 중 운동은 저녁시간에 이루어지며 방학기간에도 선무부와 연계된 도장에서 운동 할 수 있는 활동적인 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>동국대학교 태권도 동아리 선무부 </br>
                        학생회관 4층에 위치한 동국대학교 태권도 동아리 선무부는 1955.11.11.에 창설된 
                        65년 이상의 긴 역사를 자랑하고 운동을 좋아하는 사람들이 모여 활발하게 활동 중인 동아리입니다. 
                        오랜 전통과 끈끈한 유대관계를 형성 하여 다방면에서 도와주실 수 있는 선배들이 많다는 점 또한 선무부의 큰 장점입니다.
                        주요한  행사로 1학기에 팔정도에서 진행하는 연무시범(품새와 격파, 시범발차기), 여름방학에 낙산학사(강원도 양양군에 위치)로 떠나는 하계 수련과 
                        2학기에는 전국 태권도 동아리 연합회에서 주최하는 전국대회(겨루기, 품새 개인전 단체전)가 있습니다. 
                        그 외에 체육대회, MT, 다른 여러 학교와 교류운동, 5개교 교류전, 창립제 등의 여러 가지 활동들이 있습니다.
                        평소에는 저녁시간에 학교 체육관에서 운동을 진행하며, 북아현 태권도장과 연계하여 태권도 단증을 획득하거나 품증을 단증으로 전환할 수 도 있습니다. 
                        약 30명정도의 부원이 적극적으로 활동 중 이며, 동아리의 목적은 선수양성이 아닌 활발한 운동과 친목이 목적이므로 
                        평소 운동을 좋아하고 태권도를 잘 하는 사람 혹은 평소 운동이 부족하거나 태권도에 관심이 있으신 학생분들도 크게 부담 갖지 않고 즐기면서 태권도를 배우실 수 있습니다. </p>

                    <h3>현재 활동인원</h3>
                    <p>집행부 5인 포함 총 54명</p>

                    <h3>지원방법</h3>
                    <p>자격: 태권도를 좋아하는 모든 동국대학교 학생(학년, 나이 제약x , 초보자 환영, 교환학생도 가입가능) </br>
                        모집인원: 최대 20명 </br>
                        모집일정: 상시모집 </br>
                        지원방법: 회장에게 가입희망문자를 보내시면 됩니다. </br>
                        문의: / 선무부 회장: 양원직 010-6750-5295/ 동아리방: 학생회관 4층 / 선무부 차장: 김동혁 010-4851-3145</p>

                    <h3>회장의 한마디</h3>
                    <p>공부만하며 보내기 아쉬운 20대! 
                        선무부를 통해 즐겁게 운동하면서 좋은 추억들을 남겨보아요^0^</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}