{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:터스커스'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:터스커스'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>터스커스</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/터스커스.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>미식축구동아리 터스커스입니다. 
                        지금까지 경험할 수 없었던 미식축구를 다른 학교와 경기를 하며 즐길 수 있습니다.</p>

                    <h3>동아리 소개</h3>
                    <p>미식축구동아리 터스커스는 운동을 즐기며 많은 사람들과 함께할 수 있는 동아리입니다. 
                        협회에 등록되어 매년 꾸준히 리그에 참가하고 좋은 성적을 위해 감독님, 코치님들과 체계적인 훈련을 하고 있습니다. 
                        그리고 다른 학교와 합숙을 진행하면서 다른 학교의 친구들과 운동도 하고 뒤풀이도 즐기며 친해지기도 합니다. 
                        뜨거운 열정만 있다면 그 어느 동아리보다 더 넓은 경험을 할 수 있는 동아리 터스커스입니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>12명</p>

                    <h3>지원방법</h3>
                    <p>자격 : 학년과 성별에 무관하게 색다른 스포츠를 즐기고 싶은 사람 </br>
                        모집인원 : 15명 </br>
                        모집일정 : 상시모집 </br>
                        지원방법 : 문자, 페이스북 및 인스타그램 메시지 </br>
                        문의 : 황인욱(010-7445-4514), 학생회관 1층</p>

                    <h3>회장의 한마디</h3>
                    <p>나때는 말이야 이런 동아리도 없었어 열정이 넘치는 동아리, 
                        가족 같은 분위기의 동아리, 다른 학교와 교류가 많은 동아리 TUSKERS에 들어오라 이말이야</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}