{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:CAFE_IN'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:CAFE_IN'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>CAFE-IN</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/CAFE_IN.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>요리동아리 카페인입니다. 함께 요리하고 박람회, 봉사활동등 다양한 활동을 하는 활기찬 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>카페인은 식품 관련 동아리로써 매주 모여 간단한 요리를 만드는 것을 주활동으로 하고 있습니다. 요리 활동 외에도 식품 관련 박람회를 다함께 참관하거나 교내 외국인 재학생과 함께하는 한식 클래스, 주민센터에서 주최하는 요리교실 봉사활동등 다양한 활동을 하고 있습니다. 또한, 회식, 엠티, 소풍 등의 활동으로 친목을 도모하고 있습니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>10명</p>

                    <h3>지원방법</h3>
                    <p>자격 </br>
                        카페인 동아리원으로서 성실히 한학기이상 활동할 자신이 있는 사람! </br>
                        (학년/학번제한X) </br>
                        모집인원 20-25명 </br>
                        모집일정 3월 20일 금요일 자정 </br>
                        -지원방법 https://forms.gle/mbUtiDf4TB4ZXDth6  </br>
                        -문의 </br>
                        박현정, 01024054092/ 학생회관 4층 카페인
                        </p>
                    
                    <h3>회장의 한마디</h3>
                    <p>카 카페인(CaFe-in) </br>
                        페 페이스북에 들어와서 활동사진 구경해보세요~! </br>
                        인 인제 카페인에 지원하러 오세요~ ٩( ᐛ )و </br>
                        ☞ https://forms.gle/mbUtiDf4TB4ZXDth6 </br></p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}