{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:DNA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:DNA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>DNA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/DNA.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>IT 학술 동아리, 리눅스 유저 그룹 DNA입니다. IT 분야에 관심이 있는 회원들끼리 모여 친목을 도모하고, 그룹 스터디 및 프로젝트를 진행하는 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>안녕하세요, Dongguk Network-user's Association, DNA입니다. DNA는 동국대의 리눅스 유저그룹으로 리눅스 뿐만 아니라 소프트웨어 등 다양한 IT주제에 대해 정보를 공유하고 친목을 도모하는 IT 학술 동아리입니다. </br>
                        DNA는 각 학기마다 신입생 및 비전공자를 대상으로 C / Linux 기초 스터디(멘토링) 등을 진행하며, 그 외에도 관심 분야의 지원자를 받아 C++, Android, Web등 다양한 분야의 스터디를 진행하고 있습니다. 그 외에도 IT관련 프로젝트(해커톤, 코딩대회 등) 에 관련한 활발한 정보교류가 이루어 지고 있으며, 이를 함께 진행하기 위한 학우들을 만나기 위한 최적의 장소가 될 수 있을 것입니다. </br>
                        ‘나는 아직 모르는게 많은데...’ ‘어렵지 않을까?’ 혹시 망설이고 계신가요? 걱정할 필요 없어요. 이곳은 완성된 숙련자들을 위한 IT프로젝트의 장이 아닙니다. 관심은 가지고 있지만 어떻게 시작해야할지 모르는 학생들을 위한 정보교류 및 친목도모 동아리니까요. 학술연구 뿐만 아니라 친목도모를 위한 행사들도 많이 준비되어 있으니 부담없이 들러주시기 바라요 :) </br></p>

                    <h3>현재 활동인원</h3>
                    <p>약 40명</p>

                    <h3>지원방법</h3>
                    <p>-자격 </br>
                        IT, 소프트웨어 분야에 관심이 있는 동국대 학생이라면 누구나!  </br>
                       -모집인원  </br>
                       열정과 흥미가 있다면 DNA는 가입자 수를 제한하지 않습니다  </br>
                       -모집일정  </br>
                       1차 모집 : 3월 9일 ~ 3월 27일  </br>
                       위는 스터디 일정 조율을 위한 모집일정이며, 차후에도 가입이 가능하지만 일부 스터디에는 참여에 어려움이 있을 수도 있는 점 양해바랍니다.  </br>
                       -지원방법  </br>
                       회장 혹은 부회장 연락처로 문의하거나 학생회관 2층 DNA 동아리방에 방문해주세요  </br>
                       -문의  </br>
                       회 장 : 김민수 (연락처: 010-9495-6144)  </br>
                       부회장 : 이윤우 (연락처: 010-5368-9814)  </br>
                       동아리방 : 학생회관 2층 DNA</p>
                    
                    <h3>회장의 한마디</h3>
                    <p>관심사가 맞는 친구들끼리 모여 좋아하는 무언가에 다 같이 몰두하는 그런 낭만이 있으신가요? 그렇다면 망설이지 마세요! :)</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}