{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:DUSSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:DUSSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>DUSSA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/DUSSA.jpeg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>DUSSA는 Dongguk University Statistics Students Association의 약자로, 쉽게 말하자면, 통계조사 연구회입니다. 매학기마다 교내 혹은 교외에서 대학생들을 대상으로 정치, 문화, 사회, 여가 등 다양한 분야를 다루며 인식조사를 진행하는 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>두싸가 학술분과에 속해있어서 재미없어 보일수도 있을 동아리 활동을, 보다 더 재밌고 활기차게 하기 위해서 매주 목요일날 정기집회와 뒤풀이를 진행합니다. 뿐만 아니라 MT와 축제때 주점을 운영하는 등 여러가지 활동을 하고있습니다. 저희 두싸와 함께 예쁘고 보다 더 재미있는 대학생활의 추억을 쌓을 46기 신입부원들을 모집합니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>현재 활동 인원은 약 30명 정도입니다.</p>

                    <h3>지원방법</h3>
                    <p>지원자격: 관심있는분 누구나!! </br>
                        지원/문의 방법: 회장 번호(010-8962-0436)로 연락주시면 칼답하겠습니다. </br>
                        동아리방 위치: 학생회관 3층 (문에 두싸라고 붙어있습니다!) </br>
                        문의사항: 회장_ 조윤아 010-8962-0436</p>
                    
                    <h3>회장의 한마디</h3>
                    <p>다소 힘든 대학생활을 활기차게 보낼 수 있도록 학년, 학번 상관없이 누구든지, 언제든지 여러분을 환영합니다! :)</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}