{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:KCC'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:KCC'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>KCC</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/KCC.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>한국상경학회(KCC)는 57년의 전통을 이어오고 있는 경영/경제 학술 동아리입니다!</p>

                    <h3>동아리 소개</h3>
                    <p>★ 한국상경학회(KCC)는
                        순수한 학술 연구 단체로서 경영, 경제와 관련된 학술 활동을 하는 동아리입니다! 1963년부터 지금까지 연혁이 이어져왔으며 고려대학교, 동국대학교, 성균관대학교, 숙명여자대학교, 연세대학교, 이화여자대학교 6개의 학교가 연합해서 활동을 합니다! 물론 학술동아리라고 해서 학술활동만 하는 것은 아닙니다. 야유회, 체육대회, MT와 같은 다양한 친목행사도 준비되어 있으니 학술과 친목 모두 챙겨가세요! </br>
                        ★ 활동기간
                        동아리의 [신입회원]은 1년간 학회원으로서 다양한 학술 및 친목행사와 선배와의 교류에 참석합니다. [신입회원으로서 활동을 마친 정회원]은 1년간 스태프로서 학술 및 각종 프로그램 기획, 운영합니다. </br>
                        ★ 모임날짜
                        동아리의 정기 모임날짜는 매주 수요일과 목요일입니다.▼수요일에는 타대학 학우들과 교류할 수 있는 본부집회를 가지며 ▼목요일에는 동국대학교만의 지부집회를 가집니다. 다양한 사람들과 교류를 하며 학문적 소양을 쌓고 친분을 다지고 싶은분들 모두 편하게 지원해주세요! </br>
                        ★ 모집대상은?
                        경영,경제에 관심이 많고 꾸준히 활동할 1학년 신입생분들을 모집하고 있습니다!! 하지만 2학년 1학기 재학생분들도 모집할 예정이니 지부장에게 연락주세요!! </br>
                        지원할 때 [한국상경학회, 이름, 학번, 학과, 연락처, 간단한 자기소개]를 적어서 보내주세요!! </br></p>

                    <h3>현재 활동인원</h3>
                    <p>21명</p>

                    <h3>지원방법</h3>
                    <p>-자격: 꾸준히 활동할 1학년 신입생과 2학년 1학기 재학생 </br>
                        - 모집인원: 20~25명 </br>
                        - 모집일정: 3월 27일까지 1차 모집 </br>
                        - 지원방법: 010 7208 3362로 카카오톡, 문자 지원 </br>
                        지원양식: [한국상경학회, 이름, 학번, 학과, 간단한 자기소개] </br>
                        - 문의: 동국대학교 지부장 조준우, 010-7208-3362 / </br>
                        학생회관 5층 KCC 동아리방</p>
                    
                    <h3>회장의 한마디</h3>
                    <p>같이 의미있는 시간을 만들어봐요!! 언제든지 편하게 연락주세요!</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}