{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:MECS'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:MECS'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>MECS</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/MECS.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>영어회화동아리 MECS입니다. 
                        회화스터디뿐 아니라 MT, 소풍, 체육대회를 진행하고 친목도 다질 수 있는 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>중앙영어회화동아리인 MECS는 매주 목요일 6시에 학교 내에서 한국인 뿐만 아니라 외국인 교환학생들과 함께 주제를 정하여 영어로 자유롭게 대화를 나누거나 토론, 게임 등을 할 수 있는 동아리입니다. 
                        이를 통해 친목과 영어실력을 동시에 쌓을 수 있고 외국인 학생들, 다른 과 사람들과 교류할 수 있습니다. 많은 사람들과 MT, 소풍과 같은 행사도 있고 선배님들을 만나서 같이 즐겁게 어울리실 수 있는 체육대회, 창립제 등의 행사도 있습니다. 
                        좋은 사람들과 좋은 추억을 쌓고 영어실력도 키울 수 있는 MECS로 오세요! </br>
                        M: meeting for </br>
                        E: English </br>
                        C: conversation </br>
                        S: study </br>/p>

                    <h3>현재 활동인원</h3>
                    <p>약 35명</p>

                    <h3>지원방법</h3>
                    <p>-자격: 영어회화에 관심있거나 실력을 쌓고 싶은 모든 분, 외국인 친구들을 사귀고 싶으신 분 </br>
                        -모집인원: 신입부원 약 35명 </br>
                        -모집일정: 4월 말까지 모집 예정 </br>
                        -지원방법: 학생회관 3층 MECS 동아리방 방문, 회장에게 연락(01071833327), 에브리타임 게시물 쪽지 이용 </br>
                        -문의 : 회장 장원호(01071833327), 부회장 이나현(01025158774), 학생회관 3층</p>
                    
                    <h3>회장의 한마디</h3>
                    <p>영어회화실력과 동시에 즐거운 추억도 쌓는 mecs로 오세요 ! :)</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}