{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:NSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:NSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>NSA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/NSA.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>천체관측동아리 NSA입니다. 학기중 관측회, 소풍, 엠티, 세미나 와 방학중 관측회 등의 활동을 진행하고 있습니다!</p>

                    <h3>동아리 소개</h3>
                    <p>NSA(자연과학연구회)는 동국대학교 유일 천문학, 천체관측 동아리로 밤하늘의 별을 좋아하는 사람들의 모임입니다. </br>
                        학기 중 한 달에 1~2회 이상 교내 만해광장이나 중앙도서관 옥상에서 달, 목성, 토성 등을 관측하는 교내 관측회를 진행하거나 천문 관련 지식을 나누는 세미나를 진행하고,중간고사 전 한강이나 대공원으로 봄, 가을 소풍, 기말고사 전에는 MT를 떠납니다. </br>
                        방학 중에는 광해가 적은 곳으로 관측회를 떠납니다.(날씨만 좋다면 은하수도 볼 수 있습니다!)또한 정부 주관 동아리 교육봉사활동인 쏙쏙캠프를 통해 지방의 아이들에게 교육봉사를 지원하기도 합니다. </br>
                        동아리 지원방법은 에브리타임어플에 저희 NSA를 검색하셔서 홍보글에 있는 구글 폼 링크를 통해 지원서를 접수해주시면 됩니다. </br>
                        2020년 새로운 동아리원들의 얼굴을 뵐 수 있기를 희망합니다!</p>

                    <h3>현재 활동인원</h3>
                    <p>35명</p>

                    <h3>지원방법</h3>
                    <p>자격 : 동국대학교 재학생 </br>
                        모집인원 : 30명 </br>
                        모집일정 : 상시모집 </br>
                        지원방법 : 지원서 폼( 에브리타임어플에 ‘NSA’검색 ) 작성 </br>
                        문의 : (최유진(화공생물공학과), 010-8610-1503, 동방위치 : 학생회관 3층 안쪽 복도 자연과학연구회)</p>
                    
                    <h3>회장의 한마디</h3>
                    <p>N : NA </br>
                        S : SA </br>
                        A : Anibnida(아닙니다)</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}