{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:맑스철학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:맑스철학연구회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>맑스철학연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/맑스철학연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>안녕하세요! 동국대학교 중앙 학술동아리 맑스철학연구회입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>맑스철학연구회는 올해로 30주년을 맞이 했습니다.<br>
                        맑스의 사상과 철학이 궁금한 당신!<br>
                        불평등한 세상에 화가 난 당신!<br>
                        혐오와 차별에 진절머리가 난 당신!<br>
                        맑스철학연구회가 당신을 기다리고 있습니다!</p>
                    <p>맑스철학연구회에서는 학생회관 2층에 동방을 갖고 있으며 매주 맑스주의, 페미니즘 등의 주제로 세미나를 진행하고 있습니다. 
                        세미나 외에도 언제든지 동방 사용가능합니다. 원하시는 분들은 다양한 실천활동 또한 참여할 수 있습니다!</p>

                    <h3>지원방법</h3>
                    <p>학번무관! 나이무관! 들어오고자 하는 의지만 있으면 누구나 환영입니다. 언제든지 연락주세요!</p>

                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}