{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>E.L.F.</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/ELF.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>저희 동아리는 매주 수요일 상암동의 삼동소년촌 과 선유도역의 쪼물왕국아동센터로
                        교육봉사활동을 하는 중앙교육봉사 동아리 입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>교육봉사에 관심이 있거나 대학생활을 하며 다양한 과의 인맥을 쌓으며 친목을 원하시는 분들 모두 환영합니다! 
                        넓고 쾌적한 동아리방과 친절한 학우들이 있는 최고의 봉사동아리 이니 관심이 있으시면 부담없이 연락주세요. </p>
                    <h3>현재 활동인원</h3>
                    <p>60여명</p>
                    <h3>지원방법</h3>
                    <p> 자격 - 교육봉사에 관심 있는 신입생/재학생(4학기 이내) </br>
                        모집인원 – 00명 </br>
                        모집 일정 - 상시 모집 </br>
                        지원 방법 - 회장 또는 부회장 에게 연락 후 원서 작성 을 하거나 학생회관 옥외지하 1층 분홍색문  으로 방문 후 원서 작성하시면 됩니다 </br>
                        동방위치 - 학생회관 옥외지하 1층</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:ELF'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:ELF'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}