{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>손짓사랑회</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/손짓사랑회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>안녕하세요! 수화＆봉사 동아리 손짓사랑회입니다! 
                        한번 배우기 시작하면 헤어나올 수 없는 매력적인 수화를 배우며 수료식과 MT를 함께하면서 우리 다 같이 즐거운 추억을 함께 쌓아보아용!</p>
                    <h3>동아리 소개</h3>
                    <p>손짓 사랑회란 수화를 좋아하거나 관심이 있는 사람들이 함께 수화를 공부하고 봉사활동이나 친목활동을 도모하는 동아리입니다. 
                        역사 또한 매우 깊어서 벌써 50주년을 넘은지가 오래라는 점~! 
                        또한 매년 삼성소리샘복지관에서 개최하는 수어 골든벨 대회에 참여하고 
                        입상도 하는 열정적인 동아리입니다.
                        수화 수업은 매주 목요일 저녁시간에 모여 강의실에서 수화 수업 활동을 오래 해오신 수화동아리 선배님께서 직접 수화를 가르쳐주십니다!! 
                        특히 이번 학기에는 수업에 재미를 더할 다양한 플랜들이 여러분들을 기다리고 있으니 기대해주세요.
                        동아리에 들어오게되면 동아리방이 넓은 편이라서 공부를 하거나 공강 시간에 휴식하기에 안성맞춤이고 
                        피아노와 복합기, 냉장고, 전자레인지 등의 편의시설을 마음껏 이용하실 수 있습니다. 
                        또한! 수화 수업이 끝난 후 함께 뒤풀이를 가거나 학기 중 MT를 가는 등 재미난 활동들이 많이 많이 준비되어있어요! 
                        또한 저희 동아리에선 절대 술을 강요하거나 서로를 존중하지 않는 행동은 
                        금지되어 있으며 건전하고 즐거운 동아리 생활을 위한 편안한 분위기를 조성하고 있습니다.</br>
                        수화를 처음 배우는데 잘할 수 있을까요?</br>
                        수화는 진입장벽이 굉장히 낮은 편이라서 게임 및 다양한 플랜들을 활용한 수업을 듣게되시면 어느샌가 나도 수화고수! 
                        또한 저희 동아리의 꽃, 수료식을 진행하시면 자연스레 노래 하나를 모두 수화로 표현할 수 있게 되는데 
                        자신이 평소 좋아하던 노래를 수화로 표현한다니 얼마나 멋있는 일인지 직접 느껴보지 않는다면 모르실거예요!!!</p>
                    <h3>현재 활동인원</h3>
                    <p>동아리의 총원은 약 40~50명 정도 되며 수업을 진행할 때엔 
                        저번학기 기준 평균 10~20명 정도가 함께하게 됩니다!</p>
                    <h3>지원방법</h3>
                    <p>-자격  : 동대환영</br>
                        -모집인원 :　다다익선</br>
                        -모집일정 :  상시모집</br>
                        -지원방법 : 저희 동아리의 회장 혹은 홍보부장에게 문자나 카톡으로 지원하시면 간단한 면접을 보고 저희 동아리에 들어오실 수 있어요!또한 궁금하신 점이 있다면 언제든 연락주세요!</br>
                        -문의</br>
                        손사회장 김성준 010-4546-9709</br>
                        손사홍보부장 이호현 010-7282-7811</br>
                        동아리는 학생회관 2층, 계단을 올라오면 바로 보이는 바로 그 곳!</p>
                    <h3>회장의 한마디</h3>
                    <p>수화란 내 생각과 마음을 말이 아닌 시각적으로 표현해내는 하나의 언어입니다. 
                        직접 말로 표현하기 어려운 마음들, 고마움, 미안함, 사랑 등의 감정을 
                        몸으로 표현해보며 배운다면 금방 수화의 매력에 빠지실 수 있을겁니다 동방에서 만나요~!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:손짓사랑회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a hhref="{% url 'review:손짓사랑회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}