{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>젊은새이웃</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/젊은새이웃.png' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>교육봉사중앙동아리 젊은새이웃입니다. 
                        매주 평일 중 하루를 정해 지역아동센터에 방문하여 아이들에게 학습지도를 해주고 있습니다!</p>
                    <h3>동아리 소개</h3>
                    <p>동국대 47년 전통의 교육봉사 중앙동아리입니다! 
                        가르침에 열정이 있으신 누구나 지원하셔서 아이들에게 교육봉사를 주세요! 
                        또한, 봉사를 가지 않아도 동아리에 가입해서 동방을 마음껏 이용하실 수도 있습니다! 
                        MT, 창립제 등 많은 행사를 기획 중에 있으니 즐길 준비만 하시면 됩니다!</p>
                    <h3>현재 활동인원</h3>
                    <p>총원은 70명 정도이며 봉사참여인원은 40명입니다.</p>
                    <h3>지원방법</h3>
                    <p>-자격: 가르침에 열정이 있으신 분 누구나 환영입니다!</br>
                        -모집인원: 약 40명</br>
                        -모집일정 : 봉사모집은 3월 넷째주까지, 봉사하지 않는인원은 상시모집입니다.</br>
                        -지원방법 : 카카오 오픈채팅으로 연락해주세요! https://open.kakao.com/o/sMrgxiUb </br>
                        -동방위치 : 학생회관 옥외 지하1층 파란대문</br></p>
                    <h3>회장의 한마디</h3>
                    <p>교육봉사에 대한 걱정이 있으신 분들, 전혀 부담 갖지 않으셔도 됩니다! 
                        전혀 어렵지 않아요! 아이들과 즐겁게 논다라고 생각하시면 됩니다. 
                        혹은 봉사에 참여하지 않아도 가입해서 즐거운 학교생활 보내고 싶은 모든 분들 연락주세요! 젊은새이웃을 나타내는 오행시입니다! </br>
                        젊은 꼰대? 없습니다</br>
                        은근히 꼰대? 도 없습니다.</br>
                        새로움과 같은 설렘</br>
                        이웃같은 포근함으로 당신을</br>
                        웃게 만들 우리는 봉사동아리 젊은새이웃입니다.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:젊은새이웃'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:젊은새이웃'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}