{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>페인터즈</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/페인터즈.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>벽화봉사동아리 페인터즈는 학기당 1~2번의 벽화봉사활동을 진행하며, 
                        다양한 사람들과 친목을 다질 수 있는 활기찬 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>아름다운 한 폭의 벽화로 사람들에게 행복과 기쁨을 전해주는 중앙벽화봉사동아리 [페인터즈]입니다. 
                        나이와 학번, 심지어 그림실력과는 상관없이 열정만 있다면 모두가 페인터즈가 될 수 있습니다!</p>
                    <h3>현재 활동인원</h3>
                    <p>30명 정도</p>
                    <h3>지원방법</h3>
                    <p>자격 : 졸업전 2학기 이상 남은 학부생</br>
                        모집인원 : 제한없습니다</br>
                        모집일정 : 3월 1일 ~ 3월 20일</br>
                        지원방법 : https://forms.gle/xfTG3beHVUnoYeZCA </br>
                        문의 : 페이스북 페인터즈 페이지, 카카오톡 페인터즈</br></p>
                    <h3>회장의 한마디</h3>
                    <p>색다른 봉사, 벽화 해볼래요?</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:페인터즈'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:페인터즈'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}