{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>푸름누리</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/푸름누리.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>농촌봉사 활동 동아리 푸름누리입니다. 학기 중에 MT, 주모임 등 여러 친목활동도 진행합니다.</p>
                    <h3>동아리 소개</h3>
                    <p>푸름누리는 올해로 64년을 맞이하고 있는 역사 깊은 중앙동아리입니다. 주요 활동은 농촌봉사 활동으로 학기마다 1번씩 5월, 9-10월경에 갑니다. 
                        농촌봉사활동 이외에도 MT, 주모임 등 여러 친목활동을 진행합니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>70명</p>
                    <h3>지원방법</h3>
                    <p>-자격: 동아리에 관심 있는 분이라면 모두 가능합니다! </br>
                        -모집인원: 제한없음 </br>
                        -모집일정: 상시모집 </br>
                        -지원방법: 편하신 방법으로 연락 주신 후 정해진 시간에 동아리방으로 방문해주시면 됩니다! </br>
                        -문의 : 학생회관 3층 체크무늬 문 </br></p>
                    <h3>회장의 한마디</h3>
                    <p>학업에서 벗어나 공기 좋은 곳에서 농활을 하고 싶으신 분! 
                        학기 내내 다양한 모임을 즐기고 싶으신 분! 
                        편안한 분위기의 동아리를 찾으시는 분! 모두 푸름누리로 오세요~</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:푸름누리'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:푸름누리'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}