{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>한글학교하람</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/한글학교하람.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>외국인 친구도 사귀고, 봉사활동도 가능한 일석이조 동아리</p>
                    <h3>동아리 소개</h3>
                    <p>한글학교 하람은 한국에 거주하고 있는 외국인 유학생들을 위해 매주 토요일 한글수업을 진행하는 교육봉사동아리입니다. 
                        매달 한 번은 수업 대신 한국의 전통, 현대 문화를 직접 체험해보며 외국인 유학생들이 한국과 더 친해질 수 있도록 하는 기회를 만들어줍니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>55명</p>
                    <h3>지원방법</h3>
                    <p>1. 외국인 친구를 만들고 싶은, 한글 교육 봉사에 관심이 많은 동국대생 </br>
                        2. 방학 포함 3학기 동안의 의무 활동이 가능한 6학기 이하 학부생 </br>
                        모집인원 : 35명 </br>
                        모집일정 : 2020년 3월 1일 ~ 2020년 3월 20일 </br>
                        지원방법 : >www.dguharam.com 에서 지원서를 다운 받아 작성한 뒤, 기간 내 dguharam@naver.com로 지원 </br>
                        동방위치 : 동국대학교 학생회관 2층</p>
                    <h3>회장의 한마디</h3>
                    <p>동국대학교 대학 생활의 가장 보람찬 활동이 될 것입니다. </br>
                        하:루도 빠짐없이 보 </br>
                        람:찬 하람 </br></p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:한글학교하람'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:한글학교하람'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}