{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>동굴탐험연구회</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/동굴탐험연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>저희 동굴탐험연구회는 우리나라 곳곳에 숨겨진 천연동굴들을 찾아서 탐사하는 동아리입니다!</p>

                    <h3>동아리 소개</h3>
                    <p>저희 동굴탐험연구회는 국내의 크고 작은 아름다운 동굴들을 탐사, 조사하여 기록하며, 한국동굴환경학회에 많은 자료들을 제공하고, 받고 있습니다. 
                        또한, 동굴탐험 뿐만 아니라 암벽등반, 자전거 일주, 국토대장정, 배낭여행 등의 다양한 활동들도 하고 있습니다. 
                        2020년에는 동굴부 창설 50주년으로 여러 가지 행사들을 기획중입니다.
                        </p>

                    <h3>지원방법</h3>
                    <p><지원자격> </br>
                        열정과 도전정신을 가진 동국대학교 학생(신입생, 휴학생, 복학생, 재학생, 편입생) 중 누구나 지원 가능합니다! </br>
                        (학년, 나이 제한없이 최소 4학기 이상 활동 가능하셔야 합니다) </br>
                        <모집일정>:상시모집 </br>
                        <모집인원>:10명 </br>
                        지원방법) 밑에 나온 연락처로 전화나 문자로 물어보셔도 되고,오픈채팅에서 질문하셔도 됩니다!</br>
                        ※문의❗ </br>
                        회장 신민철 010-5539-1091 </br>
                        부회장 김명현 010-2479-3018 </br>
                        위치 : 학생회관 지하 1층 동굴탐험연구회실 </br>
                        오픈채팅 : https://open.kakao.com/o/sENn2Xfb</p>

                    <h3>회장의 한마디</h3>
                    <p>학기중에 동아리방을 집처럼 편안하게 사용할 수 있도록 하겠습니다.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:동국탐험연구회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:동국탐험연구회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}