{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>무법</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/무법.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>극진공수도 동아리 무법입니다. 함께 무도를 수련하면서 같이 웃고 즐기는 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>“무법”은 극진공수도를 수련하는 중앙동아리입니다. 저희 무법은 운동 시에 화기애애한 분위기 속에서 즐기며 운동하는 것을 기반으로 하며, 운동 이외에서도 즐겁게 친목을 다지고 있습니다. 모두가 평등한 위치에서 서로 존중하는 것이 원칙이며 상호 간의 배려를 중시합니다. 또한, 남자회원뿐만 아니라 여자회원도, 운동을 전혀 해보지 않은 초급자도 쉽고 재밌게 운동할 수 있습니다. 무엇보다 안면 주먹 타격이 없고 항시 수준에 맞춘 운동을 진행하기에 매우 안전합니다! </br>
                        수련은 평일에 주 2회 교내 수련, 평일 저녁에 도장 수련이 있으며, 참여하고 싶은 시간에 자유롭게 참여하실 수 있습니다. 교내에서는 학생들 중심으로 운동을 진행하고 도장에서는 극진관 아시아본부, 한국본부의 본부장님께 지도받고 있습니다. 무엇보다 운동을 배우는 동아리임에도 불구하고 교내 동아리 회비에 부담 없고, 도장 회비도 역시 그렇습니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>20명</p>

                    <h3>지원방법</h3>
                    <p>자격 – 동국대 재학생 </br>
                        모집인원 – 제한 없음 </br>
                        모집일정 – 상시 모집 </br>
                        지원방법 – 회장에게 선연락, 수련 당일 가입 </br>
                        문의-  회장 배태환, 010-3381-1903 / 동방, 학생회관 옥외 위치</p>

                    <h3>회장의 한마디</h3>
                    <p>성실함, 착함, 싸움 못 함, 건강함, 운동 좋아함, 심심함 </br>
                        이것 중 하나라도 갖고 있으시다면 답은 무법입니다!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:무법'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:무법'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}