{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>산악부</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/산악부.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>동국대학교 산악부는 다양한 산악활동을 통해 부원과의 유대와 신체의 건강을 쌓는 동아리입니다.</p>

                    <h3>동아리 소개</h3>
                    <p>안녕하세요! 동국대학교 산악부입니다. </br>
                        저희 동국대학교 산악부는 암벽, 빙벽, 스포츠클리이밍, 종주, 트레킹, 캠핑 등 산과 관련한 여러 가지 활동을 하며 도전정신을 기르고 신체를 단련합니다. 또한 전국에 있는 타 대학 산악부들과 연맹활동을 통해 인간관계를 기르고 있습니다.</p>

                    <h3>현재 활동인원</h3>
                    <p>11명</p>

                    <h3>지원방법</h3>
                    <p>-자격 </br>
                        동국대학교 재학생이면 누구나 환영입니다. </br>
                        -모집인원 </br>
                        모집인원 제한없습니다. </br>
                        -모집일정 </br>
                        상시모집입니다. </br>
                        -지원방법 </br>
                        회장 번호로 연락주시거나 산악부실로 찾아오시면 됩니다! </br>
                        - 문의(대표자 성함, 연락처/ 동방위치) </br>
                        대표자 성합: 김효서 </br>
                        회장 번호: 010-4257-5099 </br>
                        동방위치: 학생회관 지하 1층 산악부실</p>

                    <h3>회장의 한마디</h3>
                    <p>산에 가고 싶은데 누구와, 어떻게, 어디로 가야하는지 몰라 망설이던 분들! 산악부로 오시면 부원들과 함께 즐겁고 안전하게 다양한 산들을 경험하실 수 있습니다! 
                        산행을 즐길 마음만 있다면 언제든지 지원해주세요!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:산악부'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:산악부'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}