{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>수중탐구연구회</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/수중탐구연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>스킨스쿠버 동아리 수중탐험연구회입니다! 국내외 바다에서 다이빙을 통해 탐사를 진행하고 있습니다.</p>

                    <h3>동아리 소개</h3>
                    <p>우리 동아리는 1958년 창립되어 수중 탐험에 대한 열정으로 지금까지 이어져왔습니다. 동아리에 들어오게 되면 안전에 필요한 이론 교육과 장비교육을 받게 되고 5미터 깊이의 수영장에서 다이빙에 대한 사전 교육도 진행될 예정입니다! 교육을 마친 뒤, 1년에 4회씩 바다에 나가 탐사를 진행합니다. 장비는 부실에 충분히 다 마련되어있고 다이빙 강사 선배님들이 도움을 주셔서 그 어디에서 보다 더욱 저렴하고 안전하게 배울 수 있습니다! </br>
                        대학생활이라는 일기장 속에 우리 함께 스쿠버다이빙이라는 행복한 추억을 만들어봅시다!</p>

                    <h3>현재 활동인원</h3>
                    <p>20명</p>

                    <h3>지원방법</h3>
                    <p>자격 : 21살 이하의 1학년(신입생) </br>
                        모집인원 : 미정  </br>
                        모집일정 :　3월 31일  </br>
                        지원방법 : 동아리실에 방문 후 면접실시  </br>
                        -문의  </br>
                        회장 안국현 :　010-5022-6049　  </br>
                        부회장 백정우 : 010-3632-4512  </br>
                        위치 : 학생회관 지하 1층 수중탐험연구회 부실</p>

                    <h3>회장의 한마디</h3>
                    <p>바다는 지구의 70퍼센트를 차지하고 있습니다. 
                        바다를 보지 못한다는 것은 지구의 30퍼센트만 보며 사는 것입니다.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:수중탐구연구회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:수중탐구연구회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}