<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a class="icon solid fa-home" href="{% url 'main:index' %}"><span>Introduction</span></a></li>
        <li>
            <a href="#" class="icon fa-chart-bar"><span>CLUB</span></a>
            <ul>
                <li>
                    <a href="#">공연분과</a>
                    <ul>
                        <li><a href="{% url 'main:극예술연구회' %}">극예술연구회</a></li>
                        <li><a href="{% url 'main:로터스'%}">로터스</a></li>
                        <li><a href="{% url 'main:뭉게구름'%}">뭉게구름</a></li>
                        <li><a href="{% url 'main:아리랑'%}">아리랑</a></li>
                        <li><a href="{% url 'main:음샘'%}">음샘</a></li>
                        <li><a href="{% url 'main:피어리스던'%}">피어리스던</a></li>
                        <li><a href="{% url 'main:현여울'%}">현여울</a></li>
                        <li><a href="{% url 'main:AJAX'%}">AJAX</a></li>
                        <li><a href="{% url 'main:HOLA'%}">HOLA</a></li>
                        <li><a href="{% url 'main:ODC'%}">ODC</a></li>
                        <li><a href="{% url 'main:OPUS'%}">OPUS</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">봉사분과</a>
                    <ul>
                        <li><a href="{% url 'main:길'%}">길</a></li>
                        <li><a href="{% url 'main:손짓사랑회'%}">손짓사랑회</a></li>
                        <li><a href="{% url 'main:젊은새이웃'%}">젊은새이웃</a></li>
                        <li><a href="{% url 'main:페인터즈'%}">페인터즈</a></li>
                        <li><a href="{% url 'main:푸름누리'%}">푸름누리</a></li>
                        <li><a href="{% url 'main:한글학교하람'%}">한글학교하람</a></li>
                        <li><a href="{% url 'main:ELF'%}">E.L.F</a></li>
                        <li><a href="{% url 'main:RCY'%}">RCY</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">사회분과</a>
                    <ul>
                        <li><a href="{% url 'main:동국불교학생회'%}">동국불교학생회</a></li>
                        <li><a href="{% url 'main:프론티어'%}">프론티어</a></li>
                        <li><a href="{% url 'main:KUSA'%}">KUSA</a></li>
                        <li><a href="{% url 'main:RICH'%}">RICH</a></li>
                        <li><a href="{% url 'main:UNSA'%}">UNSA</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">신규분과</a>
                    <ul>
                        <li><a href="{% url 'main:두둠칫'%}">두둠칫</a></li>
                        <li><a href="{% url 'main:멋쟁이사자처럼'%}">멋쟁이사자처럼</a></li>
                        <li><a href="{% url 'main:인액터스'%}">인액터스</a></li>
                        <li><a href="{% url 'main:잼잼'%}">잼잼</a></li>
                        <li><a href="{% url 'main:FC엘레펜테'%}">FC엘레펜테</a></li>
                        <li><a href="{% url 'main:QUD'%}">QUD</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">연구분과</a>
                    <ul>
                        <li><a href="{% url 'main:경영학연구회'%}">경영학연구회</a></li>
                        <li><a href="{% url 'main:경제학연구회'%}">경제학연구회</a></li>
                        <li><a href="{% url 'main:국제통상연구회'%}">국제통상연구회</a></li>
                        <li><a href="{% url 'main:정치학연구회'%}">정치학연구회</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">예창분과</a>
                    <ul>
                        <li><a href="{% url 'main:그리고그림'%}">그리고그림</a></li>
                        <li><a href="{% url 'main:동국문학회'%}">동국문학회</a></li>
                        <li><a href="{% url 'main:동국서도회'%}">동국서도회</a></li>
                        <li><a href="{% url 'main:동그라미'%}">동그라미</a></li>
                        <li><a href="{% url 'main:디딤돌'%}">디딤돌</a></li>
                        <li><a href="{% url 'main:만화얼'%}">만화얼</a></li>
                        <li><a href="{% url 'main:애드러쉬'%}">애드러쉬</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">체육제1분과</a>
                    <ul>
                        <li><a href="{% url 'main:기우회'%}">기우회</a></li>
                        <li><a href="{% url 'main:명궁'%}">명궁</a></li>
                        <li><a href="{% url 'main:선무부'%}">선무부</a></li>
                        <li><a href="{% url 'main:터스커스'%}">터스커스</a></li>
                        <li><a href="{% url 'main:COURTIST'%}">COURTIST</a></li>
                        <li><a href="{% url 'main:DUTC'%}">DUTC</a></li>
                        <li><a href="{% url 'main:FC_TOTO'%}">FC_TOTO</a></li>
                        <li><a href="{% url 'main:LAE'%}">L.A.E</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">체육제2분과</a>
                    <ul>
                        <li><a href="{% url 'main:동국탐험연구회'%}">동국탐험연구회</a></li>
                        <li><a href="{% url 'main:무법'%}">무법</a></li>
                        <li><a href="{% url 'main:바람소리'%}">바람소리</a></li>
                        <li><a href="{% url 'main:산악부'%}">산악부</a></li>
                        <li><a href="{% url 'main:수중탐구연구회'%}">수중탐구연구회</a></li>
                        <li><a href="{% url 'main:DUST'%}">DUST</a></li>
                    </ul>
                </li>
                 <li>
                    <a href="#">학술분과</a>
                    <ul>
                        <li><a href="{% url 'main:맑스철학연구회'%}">맑스철학연구회</a></li>
                        <li><a href="{% url 'main:CAFE_IN'%}">CAFE_IN</a></li>
                        <li><a href="{% url 'main:DNA'%}">DNA</a></li>
                        <li><a href="{% url 'main:DUSSA'%}">DUSSA</a></li>
                        <li><a href="{% url 'main:KCC'%}">KCC</a></li>
                        <li><a href="{% url 'main:MECS'%}">MECS</a></li>
                        <li><a href="{% url 'main:NSA'%}">NSA</a></li>
                    </ul>
                </li>

            </ul>
        </li>

        <li>
            <a href="#" class="icon solid fa-cog"><span>Account</span></a>
            <ul>
            {%if user.is_authenticated%}
                <li><a href="{% url 'account_logout'%}">Logout</a></li>
            {%else%}
                <li><a href="{% url 'account_login'%}">Login</a></li>
                <li><a href="{% url 'account_signup'%}">Signup</a></li>
            {%endif%}
            </ul>
        </li>
        <li><a class="icon solid fa-file" href="{% url 'question:showquestion' %}"><span>Q&A Board</span></a></li>
        <li><a class="icon solid fa-retweet" href="{% url 'review:showreview' %}"><span>Review</span></a></li>
        <li><a class="icon solid fa-sitemap" href="{% url 'main:no_sidebar' %}"><span>No Sidebar</span></a></li>
    </ul>
</nav>

</div>
</section>
