{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- 본문내용 -->
<section id="main">
    <div class="container">
        <div class="row">

        </div>
             <!-- Content -->
          <div id="content" class="col-8 col-12-medium imp-medium">
              <!-- Post -->
                <article class="box post">
                  <header>
                        <h1> <strong>{{question.title}}</strong></h1><br />
                  </header>

                     작성자 : {{question.writer}}<br>
                     날짜 : {{question.pub_date}}<br>
                     <hr>
                     <p>{{question.body}}</p>
                     <hr>

                    {% if user == question.writer %}
                     <a href="{% url 'question:question_edit' question.id %}">수정하기</a>
                     <a href="{% url 'question:question_delete' question.id %}">삭제하기</a>
                    {% endif %}
                </article>
              <!-- 선택된 select 값 고정 -->
              <script>
                var obj = document.getElementById("category");
                for (i = 0; i < obj.options.length; i++) {
                  if (obj.options[i].value == "{{question.category}}") {
                    obj.selectedIndex = i;
                  }
                }
              </script>
          </div>

       
    </div>
</section>

{% endblock %} 