{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- 본문내용 -->
<section id="main">
    <div class="container">
        <div class="row">

        </div>
             <!-- Content -->
          <div id="content" class="col-8 col-12-medium imp-medium">
              <!-- Post -->
                <article class="box post">
                  <header>
                        <h1> <strong>{{question.title}}</strong></h1><br />
                  </header>

                     작성자 : {{question.writer}}<br>
                     날짜 : {{question.pub_date}}<br>
                     <hr>
                     <p>{{question.body}}</p>
                     <hr>
                    
                     {% if user == question.writer %}
                     <a href="{% url 'question:question_edit' question.id %}">수정하기</a>
                     <a href="{% url 'question:question_delete' question.id %}">삭제하기</a>
                     {% endif %}
                    <br><br><br><br>

                    <h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
                    <div>
                      <ul>
                        {% for answer in question.answer_set.all %} 
                        <li>{{answer.body}}</li>
                        {% endfor %}
                      </ul>
                    </div>

                     <span>
                      - {{ comment.writer }}, {{ comment.create_date }}
                      {% if comment.modify_date %}
                      (수정:{{ comment.modify_date }})
                      {% endif %}
                     </span>
                     {% if request.user == comment.writer %}
                     <a href="{% url 'question:comment_modify_question' comment.id %}" class="small">수정</a>,
                     <a href="#" class="small delete" data-uri="{% url 'question:comment_delete_question' comment.id %}">삭제</a>
                     {% endif %}
             
      

                    {% if user == question.writer %}
                    <form action="{% url 'question:answer_create' question.id %}" method="POST">
                      {% csrf_token %} 
                      <textarea name="body" id="body" rows="15"></textarea>
                      <br>
                      <input type="submit" value="답변등록">
                    </form>
                    {% endif %}


                </article>
              <!-- 선택된 select 값 고정 -->
              <script>
                var obj = document.getElementById("category");
                for (i = 0; i < obj.options.length; i++) {
                  if (obj.options[i].value == "{{question.category}}") {
                    obj.selectedIndex = i;
                  }
                }
              </script>
          </div>

       
    </div>
</section>

{% endblock %} 