{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>그리고그림</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/그리고그림.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>미술동아리 그리고 그림은 전시회관람, 미술 세미나 강의 등 다양한 미술 활동을 진행합니다.</p>
                    <h3>동아리 소개</h3>
                    <p>미술을 좋아하긴 하는데 잘하진 못한다고요? 
                        걱정말고 ‘그리고 그림’의 문을 두드려주세요. 
                        다양한 재료로 당신의 이야기를 들려주세요. 잘 그리지 못하셔도 상관없어요. 
                        우리는 미술을 잘하는 동아리가 아니라 ‘즐기는’ 동아리니까요.</p>
                    <h3>현재 활동인원</h3>
                    <p>37명</p>
                    <h3>지원방법</h3>
                    <p>-자격 : 잘 그리지 않아도 미술을 즐기는 누구나 </br>
                        -모집인원 :제한 없음 </br>
                        -모집일정 : 상시모집 </br>
                        -지원방법 : 동아리 회장에게 연락 및 동아리실 방문 후 지원서 작성 </br>
                        -문의 : (임예림, 01049813695/ 학생회관 3층 노란 간판) </br></p>
                    <h3>회장의 한마디</h3>
                    <p>그림에 재능 없으셔도 됩니다. 
                        미술을 좋아하시는 분이라면 누구든지 환영해요! 
                        와서 재밌게 미술 활동을 즐기고 가요!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:그리고그림'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:그리고그림'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}