{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>동국서도회</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/동국서도회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>매주 화요일 7시 정기강습을 통해 함께 모여 서예를 배우고 학우들과 교류를 하며 추억을 쌓아가는 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>매주 한 번씩 정기강습을 통해 졸업하신 선배님들께 서예를 배웁니다. 
                        안진경체와 구양순체 중에서 선택하여 배울 수 있습니다. 
                        한자를 모르는 분도, 서예가 처음인 분도 부담 가지실 필요 없습니다. 
                        동국서도회에서는 기초부터 가르쳐드립니다. 
                        또한 서예를 쓰기 위해 필요한 먹, 종이, 벼루, 붓 등은 동아리에 구비되어 있어 개인적으로 추가적인 비용이 들어가지 않습니다. 
                        그리고 동아리방에 냉장고, 전기포트, 전자레인지 등의 편의시설이 있어 음식과 차를 마시면서 담소를 나누며 친목활동을 하기에도 좋습니다. 
                        서예에 관심이 있었지만 기회가 없었거나, 한자를 몰라 망설이셨던 분들 모두 오셔서 함께 서예를 배운다면 좋을 것 같습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>20명</p>
                    <h3>지원방법</h3>
                    <p>자격 </br>
                        : 매주 화요일 7시 정기강습에 참여하실 수 있는 분. 결과에 대한 인내심을 가지고 서예활동에 임하실 수 있는 분. </br>
                        모집인원 </br>
                        : 동방이 넓어서 모집인원에 제한을 두고 있지 않습니다. </br>
                        모집일정 </br>
                        : 상시모집입니다. </br>
                        지원방법 </br>
                        : 회장에게 학번, 과, 이름과 함께 메시지 주시면 됩니다. </br>
                        문의 </br>
                        : 동국서도회 회장 이가람, 010-7298-9222 / 학생회관 2층</p>
                    <h3>회장의 한마디</h3>
                    <p>서예에 조금이라도 관심 있으시다면 마음 가볍게 동아리에 들어오셔서 잠깐 체험해보셔도 좋습니다.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:동국서도회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:동국서도회'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}