{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>동그라미</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/동그라미.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>사진 예술 연구회 동그라미입니다. 
                        사진예술의 깊이를 높이고, 카메라촬영을 배울 수 있는 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>기본&전문적인 카메라 사용법을 배울 수 있어요!
                        출사에서 사진도 건지고~ MT에서 친구도 사귀고~</p>
                    <h3>현재 활동인원</h3>
                    <p>60~70명</p>
                    <h3>지원방법</h3>
                    <p>자격 동국대학교 재학생 모두 </br>
                        모집인원 제한없음 </br>
                        모집일정 상시모집 </br>
                        지원방법 </br>
                        (회장 이준호, 010-7271-2923/ 학생회관 옥외지하 노란문 동그라미)</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:동그라미'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:동그라미'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}