{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>디딤돌</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/디딤돌.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>안녕하세요, 영화 감상·제작 동아리 디딤돌입니다!
                        같이 영화도 보고, 직접 제작도 해보는 사랑스러운 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>새내기 여러분 반가워요! 동국대학교 영화제작동아리 디딤돌입니다. </br>
                        디딤돌은 크게 두 가지의 활동을 진행하고 있습니다. 
                        학기중에는 매주 주기적으로 동아리방이나 중앙도서관 av실에서 함께 영화를 보고 이야기를 나누는 ‘정기 영화 감상’을 진행해 영화에 대한 서로의 생각을 공유하기도 하고, 
                        나만 아는 좋은 영화나 내가 정말 재밌게 본 영화들을 다른 동아리 부원들에게 소개하는 기회가 되어주기도 합니다. 
                        뿐만 아니라 새내기 여러분과 하루빨리 친해지기 위해서 봄 소풍과 MT, 영화 번개 등을 진행하고 있습니다. 
                        그리고 방학 기간에는 동아리 내에서 시나리오를 공모하고 선정하여, 자체적으로 영화를 제작하는 활동을 하고 있어서 감독이나 배우가 되어볼 수도 있고, 
                        감독이나 배우가 아니더라도 한 분야의 스태프가 되어 영화제작에 참여할 수 있습니다. 
                        그러나 영화 제작에 관심은 있지만, 경험과 지식의 부족등의 이유로 참여에 부담을 느끼시는 분들이 계십니다. 
                        그래서 부담을 느끼시는 분들을 위해 영화촬영 장비들을 다루는 방법들을 배우는 ‘장비 스터디’와 시나리오 작법과 영화의 연출에 대해 배우는 ‘연출 스터디’를 진행하고 있어, 
                        그러한 부담을 덜어드릴 수 있기 때문에, 부담 없이 영화 제작에 참여할 수 있을 것입니다. 잠깐 시간이 빌 때 편하게 쉬어갈 수 있는 동아리방도 가지고 있습니다. 
                        그리고 평소에는 카페같은 분위기지만, 시네마 빔과 팝콘 기계가 있어 동아리 부원들만을 위한 아늑한 영화관이 되어줄 수 있습니다. 
                        그리고 이건 디딤돌 동아리방만이 가지고 있는 큰 자랑 중 하나이기도 합니다.
                         새내기 여러분 합격을 진심으로 축하드립니다. 새내기 여러분은 언제나 환영이니 동방에서 만나요!!</p>
                    <h3>현재 활동인원</h3>
                    <p>40명</p>
                    <h3>지원방법</h3>
                    <p>자격 : 동국대학교 학생이라면 누구나 </br>
                        모집인원 : 제한 없음 </br>
                        모집일정 : 개강 후 상시모집 </br>
                        지원방법 : 동아리 방에 직접 방문하여 신청서 작성​ </br>
                        ⦁ 카카오톡 오픈채팅 </br>
                        https://open.kakao.com/o/sUT6b4Yb (홍보부장) </br>
                        ⦁ 동방위치 </br>
                        학생회관 3층 필름모양 문을 찾아주세요!</p>
                    <h3>회장의 한마디</h3>
                    <p>여러분이 지금껏 봐왔던 영화 중 인생영화를 만들어 드리겠습니다. 
                        바로 디딤돌과의 추억입니다. 지금 당장 관람하러 오세요.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:디딤돌'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:디딤돌'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}