{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>애드러쉬</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/애드러쉬.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>광고동아리 애드러쉬입니다. 
                        광고스터디와 각종 대외활동, 공모전에 참여하며 회원간 친목이 두터운 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>동국대학교의 28년 전통 중앙광고동아리 애드러쉬에서 회원을 모집합니다! </br>
                        ✔매주 모임 및 스터디 & 2학기 포토샵 특강 </br>
                        (원하는 사람만 자유참여 ) </br>
                        ✔모의 공모전 개최로 공모전 준비 ! </br>
                        (공모전이 어렵게만 느껴져도 모의 공모전으로 체험해보기) </br>
                        ✔브랜딩스쿨&애드애드 활동을 통해 광고분야에서 활동하시는 강사님들의 강의를 직접 들을 수 있는 기회 </br>
                        (광고분야에서 활동하시는 분들인만큼 재미있고 유익한 강의 ) </br>
                        ✔ 2020년도 1학기에는 수도권 학교 연합 광고제 진행 ! (연합 광고제는 여러 학교가 모여서 정해진 주제로 기업에 맞게 광고를 직접 제작하고 기업에게 제안하여 후원을 받는 활동입니다.) </br>
                        ✔동아리의 묘미 소풍과 MT  2학기 애드러쉬의 밤까지 ! (웃음이 안끊기게 만들 부원들의 끊임없는 레전드썰 다량보유중 ) </br>
                         위의 내용에서 하나라도 느껴보고 싶다? 관심이 있다? 또는 그냥 해보고싶다! 광고가 좋다면 지원해주세용 </br></p>
                    <h3>현재 활동인원</h3>
                    <p>약 25명</p>
                    <h3>지원방법</h3>
                    <p>-지원자격: 광고에 관심있거나, 배워 보고 싶고 화목한 분위기에서 어울려 놀 수 있는 남녀노소 누구나! </br>
                        -모집인원: 30명 </br>
                        -모집일정: 3월17일~ 4월3일 (개강 일정에 따라 변동가능 합니다!) </br>
                        -지원방법: 회장 혹은 부회장의 번호로 편하게 문자한통 해주시고 개강 후에 가입신청서 작성해주시면 되겠습니다~ </br>
                        -문의:  </br>
                        회장 손주환 010-5048-2363 </br>
                        부회장 김대연 010-4148-7628 </br>
                        동아리방 위치: 3층 복도 끝</p>
                    <h3>회장의 한마디</h3>
                    <p>애드러쉬는 학술 활동 뿐만 아니라 다양한 친목활동도 다른 어느 동아리보다 잘합니다. 
                        광고를 좋아하거나 관심이 있던 학우들은 여러 활동을 통해 더욱 깊은 관심을 가지고 넓은 시각을 가질 수 있고, 
                        광고와 연관이 없는 회원이라도 모임 후의 뒷풀이와 엠티와 소풍등의 다양한 친목활동을 통해 여러 학우들과 친해질 수 있는 기회라고 생각합니다! 
                        가입하기도 어렵지 않고, 활동도 부담스럽지 않게 진행할 예정이니 모두 고민하지 마시고 함께 공모전도 나가고 즐겨보아요~! 
                        할까 하지말까 할땐 하라! 하고싶다는 생각이 든 순간 망설임 없이 신청하세요 바로 지금입니다!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:애드러쉬'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:애드러쉬'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}