{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:AJAX' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:AJAX' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>AJAX</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/AJAX.jpg' %}" alt="" /></span>
                    <h3>동아리 소개</h3>
                    <p>힙합 문화를 사랑하는 모두에게!
                        동국대학교 유일 중앙 힙합동아리 AJAX는 1999년부터 랩,댄스,그래피티와 DJ 등 관심분야를 하며 애정을 지켜나가고 있습니다.
                        현재는 랩에 치중되어있지만 희망하는 분야가 있으시면 마음껏 하셔도 됩니다. 
                        공연에 참여안하고 즐기기만 하셔도됩니다. 
                        준비하실건 힙합을 사랑하는 마음 하나면 충분합니다.
                        매년 1회의 정기공연과 학기중 학교축제 무대, 타학교와의 연합공연, 클럽과 페스티벌 등에서의 공연, 
                        수도권지역 힙합동아리들의 모임인 대학힙합연합과의 교류 등, 여러 기회가 준비되어있습니다.</p>
                    <h3>문의</h3>
                    <p>한광수 010-9928-8890</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}