{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:HOLA' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:HOLA' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>HOLA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/HOLA.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>문화/축제 기획동아리</p>

                    <h3>동아리 소개</h3>
                    <p>● 올라는 이런 분들과 함께하고 싶어요. </br>
                        1. 새롭고 획기적인 문화의 선두주자가 되고 싶다. </br>
                        2. 전시 및 다양한 문화행사를 직접 기획하고 참여하고 싶다. </br>
                        3. EDM·힙합·락·인디 등의 음악을 좋아한다. </br>
                        4. 각종 페스티벌 및 공연을 즐긴다. </br>
                        5. 다양한 문화예술에 관심 있다. </br>
                        6. 영상 제작과 미디어 제작에 관심 있다. </br>
                        7. 포토샵, 디제잉, 사진촬영에 자신이 있다. </br>
                        8. 타대학 파티팀과 활발하게 교류하며 다양한 사람들을 만나고 싶다. </br>
                        9. 끼와 아이디어가 넘치지만 발산할 기회가 없었다. </p> 
                       <p>
                        ● 올라인이라면 무궁무진한 혜택이 가득! </br>
                        1. 페스티벌, 파티 및 다양한 문화행사를 직접 기획하며 실행할 수 있는 기회 </br>
                        2. 포토샵, 사진촬영, 디제잉 등의 스펙 향상의 기회 </br>
                        3. 대학생파티연합동아리 UPA를 통해 타대학 간의 활발한 교류</p>

                    <h3>지원방법</h3>
                    <p>1 지원자격 </br>
                        - 서울에서 활동 가능한 모든 대학생 </br>
                        - 적극적이고 열정 있는 사람 </br>
                        - 문화/축제기획 분야에 관심이 있는 사람 </br>
                        - 02년도 이전출생자 ( 빠른 03년생은 지원이 불가합니다) </br>
                        - [필수] 매주 금요일 오후6시 동국대에서 회의 참석이 가능한 사람 </br>
                        (회의 or 행사 3번 이상 결석시 제명) </br>
                        - [우대] DSLR 개인 장비 보유자, 기획팀 관련 경력자, 개발팀 관련 경력자</p>
                    <p>2. 지원 분야 </br>
                        본회의 각 부서에 관한 설명을 확인하시고 본인이 희망하는 부서를 1,2지망 총 2개 선택하여 주시기 바랍니다. </br>
                        기획(DIRECTING & PLANNING) : HOLA가 주최하는 모든 행사의 메인 컨셉부터 세부 컨텐츠까지 전반적인 기획을 담당한다. 또한 행사 컨셉에 맞는 분위기 구성을 위해 비주얼 디렉팅 및 공간 연출을 맡는다. </br>
                        비주얼 디자인(VISUAL DESIGN) : 본회가 주관하는 기획행사에 대한 비디 아이디어 스케치, 홍보 컨텐츠의 제작을 담당하며 본회가 관리하는 SNS의 관리를 맡는다. </br>
                        프레스(PRESS) : 본회가 진행하는 기획행사의 영상물과 사진을 촬영 및 제작한다. </br>
                        *비주얼 디자인팀과 프레스팀은 선택시에 이해를 돕기 위하여 분리되어 있으며, 임기 시작후에는 하나의 비주얼 디자인•프레스팀으로 활동하게 됩니다. </br>
                        대외협력(SOCIALIZING & SPONSORSHIP) : 본회가 주관하는 기획행사에 있어 기업 및 외부단체와의 스폰싱을 제안 및 협찬품을 관리한다. </br>
                        운영(OPERATING MANAGEMENT) : 베뉴 조사 및 물품 관리 등 행사의 전반적인 운영을 담당하며 본회의 유지를 위한 지원 업무를 맡는다. 또한 본회의 자금 사용 및 내역 유지 등 회계 업무(임원진)도 담당한다. </br>
                        개발(Inforamtion Technology): HOLA 활동의 archive 및 IT 고도화를 위한 웹•모바일 페이지 제작에 참여하게 된다. </br>
                        *운영팀과 개발팀은 선택시 이해를 돕기 위해 분리되어 있으며, 임기 시작 후에는 하나의 운영•개발팀으로 활동하게 됩니다. </br>
                        * 같은 팀에 중복 2지망은 불가능합니다!</p>
                    <p>3. 지원 분야 별 요구 사항 </br>
                        -[비주얼 디자인] 디자인 전공자 혹은 포토샵, 일러스트레이터 활용 가능자 </br>
                        -[프레스팀] 관련 장비 소지자 및 전공자 /에프터이펙트, 프리미어 활용 가능자 </br>
                        -[개발팀] 프로그래밍 언어 구사 가능자( Python, C, HTML, CSS 등) / 웹 디자인 가능자 ( UX, UI 등) </br>
                        * 비전공자의 경우 pr과 역량에 따라 지원 자격이 주어질 수 있음 </br>
                        * ❗비주얼 디자인, 프레스 팀의 경우 포트폴리오 제출 필수❗ </br>
                        ❗개발팀 포트폴리오 제출자 우대❗ </br>
                        (포트폴리오는 오직 리크루팅의 목적으로만 사용되며, 신입 선발과 동시에 폐기함)</p>
                    <p>4. 지원방법 </br>
                        - 지원서 작성 </br>
                        - 페북 HOLA 페이지 좋아요 누르기 </br>
                        (링크 : https://www.facebook.com/donggukhola) </br>
                        - 모집글 공유 및 친구 태그 (선택사항) </br>
                        *기타 문의사항은 아래로 연락주세요. </br>
                        회 장 장중근 010-9891-2209 </br>
                        부회장 박지호 010-7517-8278 </br>
                        부회장 한종은 010-2798-0951 </br>
                        <공식 SNS> </br>
                        페이스북 : https://www.facebook.com/donggukhola </br>
                        인스타그램 : https://www.instagram.com/hola_dongguk/?hl=ko</p>

                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}