{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:ODC' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:ODC' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>ODC</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/ODC.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>중앙 스트릿댄스 동아리 ODC입니다. 스트릿댄스 문화를 배우고 즐기는 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>안녕하세요!! 동국대학교 유일 중앙 스트릿댄스 동아리 ODC입니다. 
                        ODC는 One Dance Club의 약자로, 스트릿댄스를 중심으로, 
                        매주 진행되는 정기연습 및 이론학습으로 올바른 스트릿댄스 문화를 배우고 전파하는 활동을 하는 동아리입니다.
                        주요 활동으로는 동국대학교 내부 축제공연 및 행사공연, 외부 대학교 내부 행사 찬조공연,
                         플래시몹 그리고 외부 대회와 길거리 버스킹 및 외부 대학 댄스 동아리들과 연합공연을 기획하여 
                        대외적으로 동아리 이름을 알리고 동아리 원들이 춤 문화를 건전하게 받아들이고 즐겁고 색다른 학교 활동이 되도록 노력하고 있습니다.
                        Poppin, Locking, B-Boy, House, Waacking, Girls-Hiphop, Hiphop, Urban(Choreography), Krump 등 
                        다양한 장르를 경험할 수 있고 잠깐의 학업적인 스트레스에서 벗어날 수 있는 쉼터가 됨과 
                        동시에 다채로운 대학 생활이 될 수 있는 즐거움의 공간이 될 것입니다.
                        다른 댄스 동아리와는 다르게 오디션 일체 없이 오로지 춤에 대한 관심 하나만으로 모인 사람들!! 
                        말 그대로 한(One) 춤(Dance) 하는 녀석들(Club) ODC 많은 관심 가져주세요^^</p>
                    <h3>현재 활동인원</h3>
                    <p>35명의 주기수들이 신입생 여러분들을 기다리고 있습니다!</p>
                    <h3>지원방법</h3>
                    <p>- 자격 : 춤에 관심 있는 every one</br>
                        - 모집인원 : 정원 제한 없습니다. 모집 기간 내에 신청만 해주시면 됩니다.</br>
                        - 모집일정 :3월 1일부터 3월 23일까지</br>
                        - 지원방법 : 구글폼을 통해 신청 받고 있습니다. 혹은 학생회관에 있는 동아리방에 직접 방문하셔도 좋고, 동아리 회장, 부회장에게 연락하셔도 좋습니다!^^</br>
                        문의 : 회장 서명진, 010-4163-6811 / 부회장 정연희, 010-5369-8966/ 학생회관 5층 안쪽 맨 끝에 위치해 있습니다. 팻말보고 오시면 편할 거 같아요.</p>
                    <h3>회장의 한마디</h3>
                    <p>춤이라는 것에 큰 부담 갖지 마시고, 저희와 함께 즐거운 동아리생활 같이 만들어 나가면 좋겠습니다.</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}