{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:OPUS' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:OPUS' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>OPUS</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/OPUS.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>클래식 음악을 사랑하는 학우들이 한데 모여 함께 음악을 즐기고 삶의 즐거움을 만들어가는 곳입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>동국대 필하모닉 오케스트라, 오푸스(OPUS)입니다! 
                        한 배를 탄 ‘단원’들이 11월에 있을 정기연주회를 위해 함께 열심히 달려갑니다. 
                        봄 엠티를 통해 친목을 다지고 향상 음악회를 통해 선의의 경쟁을 하게 되며, 
                        음악캠프를 다녀온 이후에는 실력이 향상된 자신을 발견할 수 있을 것입니다. 
                        매주 월, 목요일 밤 6시 30분 ~ 8시 30분까지 합주 연습이 예정되어 있습니다. 
                        악기를 처음 다루는 분들도 모두 11월 정기연주회에 참가할 수 있도록 도와드리고 있으니 걱정하지 않으셔도 됩니다. 
                        관심이 있으신 분들은 학생회관 3층 ‘오푸스’ 문을 두드려 주십시오. 잊지 못할 대학생활을 만들어드리도록 노력하겠습니다!</p>
                    <h3>현재 활동인원</h3>
                    <p>30명</p>
                    <h3>지원방법</h3>
                    <p>자격</br>
                        - 클래식 음악에 관심이 있으신 분들은 모두 환영합니다!</br>
                        - 1st 바이올린, 목관, 금관 악기는 오디션을 봐야합니다! (악장이 엑섭과 날짜를 공지하고 심사를 봅니다.)</br>
                        모집인원</br>
                        - 현악기 : 바이올린, 비올라, 첼로, 콘트라베이스 등</br>
                        - 목관악기 : 클라리넷, 플롯, 피콜로, 오보에, 바순 등</br>
                        - 금관악기 : 트럼펫, 트롬본, 유포니움, 튜바 등</br>
                        - 타악기</br>
                        모집일정</br>
                        - 1학기 상시모집</br>
                        지원방법</br>
                        - 동아리 방으로 오셔서 신청서를 작성해주시면 됩니다.</br>
                        문의</br>
                        - 동방위치 : 학생회관 3층 동아리방 ‘오푸스’</br>
                        - 회장 김도엽 : 010-3941-2821</br>
                        - 악장 정서원 : 010-7362-2402</br>
                        </p>
                    <h3>회장의 한마디</h3>
                    <p>악기 연주해본 경험이 없더라도 연주하는 것을 좋아하고 열정과 관심이 있으시다면 주저하지 마시고! 
                        학생회관 3층에 위치한 OPUS 동아리방으로 와주시기 바랍니다. 
                        많은 관심과 연락 기다리겠습니다.</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}