{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:극예술연구회' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:극예술연구회' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>극예술연구회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/극예술연구회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>연극 동아리 ‘극예술 연구회’입니다. 연출, 배우, 무대, 음향과 조명 등 연극에 관심이 있는 누구든 재미있게 활동할 수 있습니다!</p>
                    <h3>동아리 소개</h3>
                    <p>동국대학교 극예술연구회는 1974년 연극을 사랑하는 사람들이 모여 설립된 순수한 연극 공연 단체로서 40년 이상의 역사와 전통의 긍지를 가지고 있습니다. 역사와 전통이 긴 만큼 선후배 사이의 관계가 돈독하며, 1년 동안 신입생 환영공연을 비롯하여 신입생 워크샵 공연, 그리고 2번의 정기공연이 있습니다. 공연 외에도 연기 멘토링 수업이나 정기적으로 집회를 가지고 MT를 가는 등 친목을 다지면서 활동을 이어나가고 있습니다. 
                        매년 12월에는 극회 선후배의 밤을 통해 OB선배들의 든든한 지원 속에서 한 해의 활동을 마무리하는 행사를 가집니다. 
                        함께 극을 만들고, 무대 위에서 주인공이 되어 볼 수 있습니다! 연극에 관심이 있으신 분들, 평소 배우의 꿈을 가졌던 분들 모두들 환영합니다. 
                        재능이 없다고 두려워하지 마세요. 열정만 가지고 오시면 됩니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>43명</p>
                    <h3>지원방법</h3>
                    <p>-자격 : 자격 연극을 사랑하거나 호기심이 있는 모두</br>
                        -모집인원 : 10~12명</br>                       
                        -모집일정 : 2020년 3월 19일~3월 31일</br>                        
                        - 지원방법 :  회장의 번호로 연락하셔서 지원서를 받고 싶다고 메일 주소를 보내주시면, 지원서를 메일로 보내드립니다. 
                        다운받아 작성해서 bjy0826@naver.com 으로 보내주시면 됩니다. 오디션 일정은 개인적으로 알려드립니다.</br>                        
                        - 문의 : 박지연, 01065146927 / 학생회관 5층 회색 철문 앞</p>
                    <h3>회장의 한마디</h3>
                    <p>새내기여 연극하고 싶니? 극예술연구회로 오라!</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}