{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:로터스' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:로터스' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>로터스</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/로터스.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>마“술” 동아리고 마가 묵음이다.</p>
                    <h3>동아리 소개</h3>
                    <p>동국대학교 마술&타로 동아리 LOTUS - 로터스는 흔히 생각하는 동아리의 목표와는 다를 것입니다. 
                        로터스는 관객을 사로잡는 언변과, 청중을 압도하는 화술, 이목을 즐겁게 하는 퍼포먼스, 분위기를 휘어잡는 테크닉을 위해, 말과 행동을 배우며 관객들에게 멋진 시간을 선사하는 것을 목표로 두고 있습니다. 
                        흔히 대학 동아리에서 배울 것이라 기대하지 못한 것이기 때문에 더더욱 로터스와 함께 하는 시간이 특별할 것이라고 자부할 수 있습니다.
                        일주일에 한번 마술 또는 타로를 정기적으로 교육하는 시간이 있으며, 구성원들끼리 친밀도가 높아 함께 할 수 있는 시간이 많습니다. 
                        일 년에 한번 공연이 있으며, 그 외에도 타로로 대외수익사업, 부스설치, 이벤트 회사와 함께하는 행사들도 준비되어 있습니다. 
                        또한, 전국대학마술연맹 SKUM에 소속되어 있는 연합동아리로써 원한다면 다양한 마술인을 만날 기회도 있습니다. 
                        신입생 여러분, 대학생활을 로터스와 함께 하신다면 어디서든 이목을 끌 수 있다는 자신감과 어떤 이와도 주도적으로 대화를 이끌어 갈 수 있는 언변을 쌓을 수 있습니다. 
                        무엇보다 쌓아온 자신의 모든 것을 단 한 번의 멋진 공연으로 드러낼 수 있는, Live Only for The Ultimate Show는 여러분을 기다리고 있겠습니다.
                        </p>
                    <h3>현재 활동인원</h3>
                    <p>대략 20명 정도</p>
                    <h3>지원방법</h3>
                    <p>- 자격 : 동국대 학생 누구나</br>
                        - 모집인원 : 제한 없음</br>                       
                        - 모집일정 : 상시모집</br>                       
                        - 지원방법 : 회장&부회장에게 연락 및 폼 작성</br>                        
                        - 문의 : 김의환 010-3390-3127 / 학생회관 2층 끝방</p>
                    <h3>회장의 한마디</h3>
                    <p>‘로(노)’력하는 인재, LOTUS 회장 이지혜입니다.</br>
                        ‘터’질듯한 열정 하나로, 당신의 한 해를</br>                        
                        ‘스’펙타클한 경험으로 가득 채워드리겠습니다.</br>                        
                        ‘최’강의 부원들과 함께하는 LOTUS는 오늘도, 당신과 걸어갈 내일을</br>                        
                        ‘고’민합니다. </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}