{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:뭉게구름' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:뭉게구름' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>뭉게구름</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/뭉게구름.jpeg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>다양한 장르의 음악과 자작곡과 편곡 등을 공연할 수 있는 구름 같은 편안한 분위기의 밴드동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>한 학기에 한번 동아리 정기공연을 진행하며 각종 학교 행사와 연합 공연에 참여하고 있습니다. 
                        1학기 정기공연에서는 기존의 곡들을, 2학기 정기공연에서는 부원들이 직접 제작한 창작곡을 중심으로 공연을 진행합니다. 
                        또한, 매주 화, 목 저녁 6시에 30분~1시간 정도의 ‘뭉게타임’이라는 정기모임을 가져 회의나 연합활동을 통해 친목을 다지고 있습니다. 
                        그리고 체육대회, 방학기간 중의 뭉게구름 학예회, 창립제, MT 등 여러 가지 행사들을 통해 부원들 사이의 우정과 추억을 쌓으실 수 있습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>20명</p>
                    <h3>지원방법</h3>
                    <p>-자격 : 악기를 배우고 싶은 사람, 공연하고 싶은 사람</br>
                        -모집인원 :  30</br>                       
                        -모집일정: 개강주 금요일 18:00까지</br>                        
                        -지원방법: 개강주 목요일 금요일 18:00에 뭉게구름 동아리실에서 면접 (피아노,보컬은 오디션포함)</br>                        
                        -문의 : 박만재 01022494129 동방위치 학생회관 5층</p>
                    <h3>회장의 한마디</h3>
                    <p>여러분의 음악적인 열정을 찾습니다! </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}