{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:아리랑' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:아리랑' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>아리랑</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/아리랑.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>아리랑은 실력, 장르, 악기의 차별 없이 자유롭게 활동할 수 있는 밴드 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>중앙밴드동아리 아리랑은 인원, 장르에 구애받지 않고 자유롭게 팀을 구성해 공연에 참여할 수 있는 밴드 동아리입니다. 
                        악기를 처음 배우거나 실력을 키우고 싶은 부원들을 위해 매 학기 초 ‘아리랑 클래스’를 진행하며 보컬들을 위한 ‘보컬 스터디’도 함께 진행합니다. 
                        또한 봄/가을 정기공연, 학교 축제, 동아리 박람회, 버스킹 등 다양한 공연 기회를 마련해 무대에 서고 싶은 부원은 누구든 참여할 수 있도록 합니다. 
                        집행부 측에서 부원들 간 친목 장려는 물론 부원들이 다루는 악기, 팀에서 필요한 파트를 파악해 팀 구성에 도움을 드리므로 팀 구성에 있어 걱정하실 필요는 없습니다. 
                        별도의 입회 오디션은 없으며 폼 작성 시 가입이 완료됩니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>방학 기간 : 30명</br>
                        학기 중 : 60명</p>
                    <h3>지원방법</h3>
                    <p>자격 : 동국대 재학생 (나이, 학년 무관)</br>
                        모집인원 : 제한 없음     </br>                   
                        모집일정 : 상시 모집      </br>                  
                        지원방법 : 에브리타임 ‘홍보게시판’ 혹은 ‘동아리·학회 게시판’에 ‘아리랑’ 검색 후 게시글에 첨부된 폼 작성</br>                        
                        -문의 :</br>                         
                        회장 장재용 (010-2041-6979)</br>                        
                        부회장 박지호 (010-5917-8117)                        
                        학생회관 5층 아리랑방</p>

                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}