{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:음샘' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:음샘' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>음샘</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/음샘.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>중앙밴드동아리입니다. 매년 4번의 정기공연을 진행하고, 축제, 연합공연 정기회의, 등 활발한 활동을 하는 공연 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>안녕하세요! 음악이 샘솟는 곳 음샘입니다. 1988년 공대의 소모임으로 시작된 음샘은 현재 동국대학교 중앙동아리 공연분과에 속해 있는 밴드동아리입니다.</br>
                        1. 음샘은 다양한 활동을 진행합니다. 
                        공연장을 대관해 진행하는 4번의 정기 공연, 축제, 행사, 연합공연, 매주 정기회의, 초심자를 위한 악기스터디, 각종 MT,등 밴드동아리가 진행할 수 있는 최대한의 프로그램을 진행합니다.</br>
                        2. 음샘은 자유롭습니다.
                        음악 취향이 다양합니다. 
                        락, 메탈, 인디, 블루스, 재즈, 얼터너티브, 그런지, 펑크 등 밴드 세션으로 표현할 수 있는 모든 장르를 존중하고 사랑합니다. 
                        동아리 내에서 진행하는 모든 활동들을 자율적으로 참여 가능합니다.</br>
                        3. 음샘은 항상 열려있습니다.
                        좋아하는 밴드가 있거나, 밴드 음악에 흥미가 있어 공연을 해보고 싶거나, 악기를 배우고 싶거나, 음악을 통해서 사람들을 만나고 싶으신 모든 분들께 저희 음샘은 항상 열려있습니다! 
                        음샘이 궁금하신 분들은 학생회관 3층으로 혹은 밑에 연락처로 문의해주세요!</p>
                    <h3>현재 활동인원</h3>
                    <p>60여명</p>
                    <h3>지원방법</h3>
                    <p>자격 : 오디션을 진행하지 않으므로 모든 분들이 지원가능합니다</br>
                        모집인원 : 미정</br>
                        모집일정 : 상시모집</br>
                        지원방법 : 동방에 들리셔서 가입원서를 받아 가시거나, 대표자 연락처로 연락주시면 됩니다.</br>
                        문의 : 회장(박용수) 010-7566-8238 / 부회장(박수웅) 010-2395-8044/ 동방위치는 학생회관 3층에 위치해있습니다!</p>
                    <h3>회장의 한마디</h3>
                    <p>안녕하십니까! 
                        이번 2020학년도 음샘 회장 박용수입니다. 
                        밴드음악에 대해 가지고 있던 여러분의 꿈을 저희 음샘에서 마음껏 펼치시기 바랍니다. 
                        저희는 언제나 여러분을 환영합니다. 감사합니다!</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}