{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:피어리스던' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:피어리스던' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>동아리명</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/피어리스던.png' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>락밴드 동아리 피어리스던에서 공연과 음악을 즐기고 악기도 배워보세요! 
                        그 밴드, 너도 좋아해? 나도!!</p>
                    <h3>동아리 소개</h3>
                    <p>안녕하세요! ROCK을 중심으로 다양한 장르의 음악을 즐기는 중앙 락밴드 동아리 피어리스던입니다. 
                        저희 동아리는 매주 목요일 오후 6시 정기회의와 음악 감상회 및 뒤풀이가 있습니다. 
                        또한 축제 및 홍보 공연과 정기클럽공연, 야외 버스킹 등을 통해 다양하게 공연하고 있고, 
                        악기를 처음 접하시는 분들을 위한 세션별 악기수업도 진행하고 있습니다. 
                        동아리방에서는 공용 악기와 장비로 개인 연습과 합주가 가능하며 동아리 부원들과 휴식을 취하거나 음악을 감상하는 등 자유로운 활동이 가능합니다. 
                        피어리스던은 가입을 위한 별도의 오디션은 없습니다! 
                        음악을 사랑하고 함께 음악을 즐기고 싶은 분들이라면 모두 환영합니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>50여명</p>
                    <h3>-자격: 나이. 국적에 상관없이 음악을 사랑하는 사람이라면 누구나!</br>
                        -모집인원: 00명</br>
                        -모집일정: 상시모집</br>
                        -지원방법: 연락처로 연락주신 뒤 동아리방에 오셔서 가입원서를 적어주시면 됩니다.</br>
                        -문의: 한지나. 010-9379-1198 / 동방은 학생회관 5층 초록문에 위치해있습니다.</br></h3>
                    <p>내용4</p>
                    <h3>회장의 한마디</h3>
                    <p>피어리스던은 음악을 사랑하는 사람들이 모여 다양한 음악 활동을 즐기고 있습니다. 
                        좋아하는 음악을 공유하고, 취향 맞는 사람들과 연주도 해보고! 
                        특별한 추억들을 함께 만들어가면 좋겠습니다. 
                        대학생활의 로망이라고 할 수 있는 밴드부! 
                        피어리스던에 오셔서 그 로망을 실현해보세요~</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}