{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:현여울' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:현여울' %}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>현여울</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/현여울.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>클래식 기타를 배우고 연주하는 동아리 현여울입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>동국대학교 클래식 기타동아리 현여울은 클래식 기타를 배우고, 
                        연주하며 기타에 관심이 있는 학우들과 교류하고, 음악을 즐기는 동아리입니다. 
                        방학에 열심히 준비하는 정기연주회, 학기 중에 가볍게 할 수 있는 살롱 등 교내 다양한 기타 공연 활동을 활발하게 진행하고 있으며, 
                        봄MT, 가을MT와 체육대회, 여름MC(Music Camp)도 구성되어 있습니다. 
                        또한, 교외에서도 한국클래식기타연합회에 소속되어 겨울 연합연주회 등 다른 학교와의 활동들도 활발히 이루어지고 있습니다.
                        매주 신입생 대상으로 기타 레슨이 있어 입문자들도 쉽고 편하게 배울 수 있습니다.
                        클래식 기타와 관련 장비들은 동아리방에 상시 구비되어있습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>36명</p>
                    <h3>현재 활동인원</h3>
                    <p>- 자격 : 상관없음</br>
                        - 모집인원 : 상관없음</br>
                        - 모집일정 : 상시모집</br>
                        - 지원방법 : 회장에게 문의 후, 동아리 방문하시면 됩니다.</br>
                        - 문의 : 유건, 01051703417/ 학생회관 5층 나무무늬문</br></p>
                    <h3>회장의 한마디</h3>
                    <p>기타에 관심이 있는 누구든, 기타를 통하여 여러 사람을 만나고 교류하고 싶은 누구든 학생회관 5층 나무무늬 문을 두들겨주세요!  </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}