{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>FC엘레펜테</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/FC엘레펜테.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>안녕하세요! 동국대학교 유일 여자축구동아리 fc엘레펜테입니다.⚽️</p>
                    <h3>동아리 소개</h3>
                    <p>🐘 축구 실력 정말 상관없습니다!!!! 처음 해보시거나 배우고 싶으신 분들, 그리고 축구 경력이 있으신 분들 모두 환영해요</br>
                        🐘 정모는 총 두시간으로 보통 한 시간은 기본기 및 전술 훈련, 한 시간은 미니게임이나 경기를 진행합니다 </br>                       
                        🐘 시간표와 정모 시간이 맞지 않더라도 걱정마세요 운동장 대관 사정상 정모 날짜와 시간이 다른 경우가 많습니다. </br>
                        또한 대관을 하지 못한 주는 회원들끼리 날짜를 맞춰 풋살장을 빌리기 때문에 시간이 맞을 때만 오셔도 괜찮아요^__^</p>
                    <h3>FAQ</h3>
                    <p>Q : 언제 만들어진 동아리인가요? </br>
                        A : 2019년 2학기에 만들어진 동아리입니다. </br>
                        Q : 축구 실력 정말 상관 없나요? </br>
                        A : 네! 실력보다 열정이 중요합니다 :) </br>
                        Q : 4학년도 받아주시나요? </br>
                        A : 지금 이 글을 작성하고 있는 홍보부장도 4학년입니다..! 졸업하기 전에 얼른 오세요!! </br>
                        Q : 진행요일과 활동 내용은 어떻게 되나요? </br>
                        A : 이번학기 정해진 요일이 있었지만 코로나로 인해 운동장 사용이 불가능해지면서, 가능해지면 다시 정할 계획입니다. 활동은 보통 기본기 훈련과 미니게임 또는 경기로 이루어져있습니다. </br>
                        Q : 회비는 얼마인가요? </br>
                        A : 회비는 학기별 3만원이고, 신규가입의 경우 물품구입비 5천원이 추가되어 총 3만5천원입니다!</p>
                    <h3>코로나 관련 안내</h3>
                    <p>동아리 특성상 아래 명시된 모든 활동은 코로나 사태가 진정될 때 까지 잠정 중단 입니다😭 </br>
                        따라서 저희 동아리는 부원을 상시 모집하고, 활동과 회비납부 등은 추후에 안내드릴 예정입니다! </br>
                        부담없이 연락 주세요! 에타 댓글과 쪽지는 확인이 느릴 수 있으니 포스터에 있는 번호나 인스타로 연락주시면 감사하겠습니다!</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:FC엘레펜테'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:FC엘레펜테'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}