{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>두둠칫</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/두둠칫.jpeg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>두둠칫은 K-POP무대는 물론이고 다양한 장르의 영상을 커버하는 커버댄스동아리 입니다!</p>
                    <h3>동아리 소개</h3>
                    <p>두둠칫은 K-POP 위주의 커버댄스 동아리로서 아이돌 무대는 물론이고 다양한 장르의 영상을 커버하고, 
                        자체적인 커버영상을 만들어 페이스북, 유튜브, 인스타그램 등 SNS에 업로드를 하는 활동을 하고 있습니다.
                        그 외에도 교내외 각종 찬조공연, 교내 축제 공연, 두둠칫 정기공연 등 수많은 공연기회가 주어집니다.
                        두둠칫은 추고싶은 춤이 생기면 누구나 자율적으로 팀을 구성할 수 있고, 
                        팀원들끼리 시간을 조율하여 연습을 하기 때문에 자유로운 분위기 속에서 활동할 수 있습니다.
                        한달에 한 번 목요일에 이루어지는 정기모임과 여름, 겨울 MT등 친목도모를 위한 자리도 빠짐없이 준비되어 있습니다.
                        매우 재미있고 화목한 동아리니 주저하지 마시고 연락주세요! 같이 즐겁게 활동해요!(*＇▽＇*)</p>
                    <h3>현재 활동인원</h3>
                    <p>2019 기준 활동인원 60명, 총 동아리 회원 77명</p>
                    <h3>지원방법</h3>
                    <p>- 자격 </br>
                        매달 1회 목요일 6시 30분 정기모임 참여 가능한 사람 </br>
                        - 모집인원 </br>
                        지원자 수에 따라 다름 </br>
                        - 모집일정 </br>
                        3/16(월)~3/22(일) 문자지원, 3/25(수)~3/27(금) 문자 지원자 한해서 오디션 예정 </br>
                        - 지원방법 </br>
                        회장 또는 부회장에게 문자로 [이름/ 학과/ 학번/ 오디션 곡/ 지원동기] 전송 </br>
                        - 문의 </br>
                        회장 방혜린 010-2497-0936 </br>
                        부회장 조유영 010-2056-9715 </br>
                        </p>
                    <h3>회장의 한마디</h3>
                    <p>두 근두근하고 있을 신입생 여러분! </br>
                        둠 칫둠칫 춤을 추면서 </br>
                        칫 솔처럼 다 쓸어버립시다! (o´∀｀o)/ </br></p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:두둠칫'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:두둠칫'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}