{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2><strong>인액터스</strong></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/인액터스.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>인액터스는 사회적 책임성과 도덕성을 갖춘 실전형 비즈니스 리더를 양성하는 글로벌 대학 연합 단체입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>Enactus는 “Entrepreneurial Action Us”의 약자로, 
                        기업가정신의 실천으로 더 나은 세상을 만들어가는 단체입니다. 
                        우리는 기업가 정신을 바탕으로 대상자의 삶의 질을 개선하는 프로젝트를 실행하여 지속가능한 더 나은 세상을 만들어 나가기 위해 노력하고 있습니다.
                        인액터스에서는 직접 비즈니스를 통해 사회문제를 해결할 수 있다는 점에서 다른 활동들과는 확실히 다른, 특별한 경험을 할 수 있습니다. 
                        인액터스의 장점은 사회적 문제에 대한 단순한 관심을 넘어 직접 프로젝트를 기획하고 실행할 수 있다는 것입니다. 
                        뿐만 아니라, 비즈니스 프로젝트를 진행하는 과정에서 개인적인 업무 능력의 향상과 동시에 사회에 긍정적인 변화를 만들어낼 수 있습니다. 
                        인액터스 활동을 하게 된다면 그냥 대학생일 때와 전혀 다른 세상을 경험할 수 있습니다.
                        인액터스에서 시작한 기업으로는 마리몬드, 119레오, 두손컴퍼니 등이 있습니다. 
                        우리학교 인액터스에서는 고요한택시를 통해 2018년도 인액터스 NC(National Competition)에서 1위라는 성적을 얻을 수 있었습니다. 
                        2019년에는 새로운 프로젝트들로 NC 4위를 기록하였습니다.
                        현재 우리학교 인액터스에서는 자폐청소년들의 특성을 활용하여 코딩 교육을 통해 IT 인재로 성장시키는 프로젝트인 [파란메이커스], 
                        유기견의 저조한 입양 문제를 해결하고자 하는 [유일견], 시각장애인의 운동 접근성 문제를 해결하고자하는 [Young Challenge], 
                        가정 탈출 청소년의 자발적 소외로 인한 경험부족 문제를 해결하기 위한 [포롱] 프로젝트가 활동하고 있습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>20명</p>
                    <h3>지원방법</h3>
                    <p>-자격 </br>
                        방학을 포함해 1년 이상 활동이 가능한 동국대학교 재/휴학생 </br>
                        국적 전공 나이 제한 없음 </br>
                        매주 월요일 6시 30분 정기 회의에 참여 가능한 학생 </br>
                        프로젝트 활동에도 적극적으로 임할 수 있는 학생 </br>
                        -모집인원 </br>
                        8명</br>
                        -모집 일정 </br>
                        서류접수 : 3월 16일~ 20일 19시 30분까지 </br>
                        면접 : 3월 21일~ 22일 </br>
                         -지원방법</br>
                        Enactus dgu 홈페이지 recruiting 게시판에서 지원서 다운 (http://bit.ly/enactusdgu24)
                        enactus.donggukuniv@gmail.com 으로 지원서 제출</br>
                         -문의</br>
                        회장 송수연 : 010 8891 2069 </br>
                        페이스북 공식 페이지 ‘Enactus DGU’ </br>
                        인액터스 공식 홈페이지 http://enactuskorea.org </br>
                        인액터스DGU 홈페이지 http://enactusdgu.wixite.com/enactusdgu </br>
                        
                    </p>
                    <h3>회장의 한마디</h3>
                    <p>그런다고 세상은 바뀐다. </br>
                        대학생일 때만 할 수 있는 활동이지만 그냥 대학생일 때와는 전혀 다른 세상을 경험할 수 있습니다. 
                        이 특별한 경험을 놓치지 않으셨으면 합니다.</p>
                </article>

            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>

                        </li>
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Q&A</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'question:인액터스'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                        <li>

                            <!-- Highlight -->
                            <article class="box highlight">
                                <header>
                                    <h3><a href="#">Review</a></h3>
                                </header>
                                <p>내용</p>
                                <ul class="actions">
                                    <li><a href="{% url 'review:인액터스'%}" class="button icon solid fa-file">More</a></li>
                                </ul>
                            </article>

                        </li>
                    </ul>
                </section>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}