{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:KUSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:KUSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>KUSA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/KUSA.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>봉사를 통해 유네스코 이념을 실현하는 봉사 동아리입니다. 
                        봉사 뿐만 아니라 다양한 친목활동도 진행하는 활동적인 동아리입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>KUSA(Korea Student Association)는 유네스코한국위원회에서 공식 인가 받은 학생 단체로, 
                        전국 20여개 대학들과 유네스코 이념 실현을 위해 다양한 활동들을 하는 연합 동아리입니다. 
                        동국대학교 KUSA는 봉사를 통해 유네스코 이념을 실현 중이며 벽화봉사, 
                        연탄봉사 등의 다양한 단기봉사부터 교육봉사, 멘토링 등의 정기봉사를 진행하는 봉사 동아리입니다. 
                        봉사활동 뿐만 아니라 문화체험, 맛집탐방, 스포츠관람 등의 다양한 친목활동을 통해 다른 과 학우들과 친해질 수 있는 중앙 동아리입니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>51명</p>
                    <h3>지원방법</h3>
                    <p>- 자격 : 봉사, 친목활동 등에 적극적으로 임하는 동국대학교 학우라면 누구나 환영 합니다 :D </br>
                        - 모집인원 : 제한 없음 </br>
                        - 모집일정 : 개강연기, 오프라인 강의 시행여부 등의 이유로 정확한 모집 마감기한은 결정하지 못하였습니다. </br>
                        - 지원방법 : 카카오톡 오픈채팅 “kusa_dgu” 또는 회장 연락처 통해 연락 주시면 지원서 구글폼 주소 안내해드리겠습니다 :-) </br>
                        - 문의 : 문영훈, 010-8581-8504, 학생회관 3층</p>
                    <h3>회장의 한마디</h3>
                    <p>자유로운 분위기에서 봉사와 친목활동을 하고 싶다면 쿠사로 오세요 </p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}