{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:RICH'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:RICH'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>RICH</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/RICH.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>금융투자동아리 RICH! 금융권취업과 투자에 관심 있는 분 환영합니다!</p>
                    <h3>동아리 소개</h3>
                    <p>경제, 금융, 투자 세 가지에 관심이 있는 분들 그리고 금융권 취업을 원하시는 학우들이 모여 만든 동아리입니다.
                        주요 활동은 1. 주중 아침 8시~8시 50분까지 신문스터디를 진행하고 있습니다. 
                        2. 시험기간을 제외한 매주 토요일 2시~6시까지 정기세미나가 진행됩니다. 
                        기업분석 및 포트폴리오, 주식강의, 취업관련 선배와의 대화 등 여러 가지가 주제를 다루고 있습니다. 
                        3. 동아리 소풍 및 각종 친목활동</p>
                    <h3>현재 활동인원</h3>
                    <p>한 기수에 활동인원은 20명 정도로 소규모로 진행되고 있습니다.</p>
                    <h3>지원방법</h3>
                    <p>-자격 : 3학기 이상 활동 가능한 동국대 재학생 (학번, 나이제한 X) </br>
                        -모집인원 : 제한 없음 </br>
                        -모집일정 : 3월 23일 24:00 까지 </br>
                        -지원방법 : cafe.naver.com/dgurich 첨부 지원서 작성, message_95@naver.com로 제출기한 까지 지원서 제출, 1차 서류 전형과 2차 면접을 통해 동아리원 모집 </br>
                        문의 </br>
                        -회장 :　송민석 010-7410-7411 </br>
                        부회장 : 강우석 010-4728-8039 </br>
                        부회장 : 조승주 010-4949-6083 </br>
                        동방위치 : 학생회관 4층 복도 끝</p>
                    <h3>회장의 한마디</h3>
                    <p>RICH 활동을 하고 정말 많은 것들을 얻어갔습니다. 
                        여러분들도 많이 지원하셔서 함께 좋은 추억 만들고 싶습니다!</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}