{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:UNSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:UNSA'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>UNSA</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/UNSA.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>모의 유엔 동아리 운사입니다. 
                        타 대학의 사람들과 토론 및 교류하며 인맥도 쌓는 팔색조입니다.</p>
                    <h3>동아리 소개</h3>
                    <p>‘UNSA’는 유엔 한국학생 협회를 의미하며 유엔 기구에 소속되어 있습니다. 
                        UNSA는 다른 대학들과의 연합 활동을 통해 타 대학 학생들과 교류합니다. 
                        연합동아리의 특성으로 활동은 교외와 교내로 이루어집니다. 
                        교외활동으로는 타 대학의 모의UN참관, 평화 컨퍼런스 참석, 세계평화의 날 참석 등의 활동이 있습니다. 
                        더불어 교내활동으로는 모의UN총회, 학술 및 친목활동이 있습니다. 
                        교외활동을 통해 다양한 대학의 사람과 여러 과의 사람들을 만나 다양한 전공과 다양한 연령대의 인맥을 만들 수 있습니다. 
                        또한 모의UN총회에서 세계 문제와 관련된 주제를 정하고 영어로 토론을 진행함으로써 개개인의 역량 함양에도 도움이 됩니다. 
                        이렇게 다양한 활동을 통해 세계의 문제를 고민하는 사람으로서 자리매김하는 동아리입니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>현재 활발한 활동 인원 33명</p>
                    <h3>지원방법</h3>
                    <p>자격 : 열심히 할 수 있는 사람 누구나 </br>
                        모집인원 : 00명 </br>
                        모집일정 : 4월 첫째 주까지 </br>
                        지원방법 : 지원서 작성 후 제출 </br>
                        문의 : 금성희 010-6607-3522 / 학생회관 2층</p>
                    <h3>회장의 한마디</h3>
                    <p>운: 운사와 </br>
                        사: 사랑에 빠지다</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}