{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:동국불교학생회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:동국불교학생회'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>동국불교학생회</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/동국불교학생회.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>마카롱보다 달달한 부처님의 말씀...... 곁들여 홍차를 함께 마시면 좋다......</p>
                    <h3>동아리 소개</h3>
                    <p>동국대학교 불교 학생들의 모임으로써 학술, 신행, 수행 활동을 전개한다. 
                        학술 활동에는 불교 교리의 학습, 신행 활동에는 예불, 법회, 연등회와 나란다 축제 참여, 
                        수행 활동에는 기도와 명상 등이 있다.</p>
                    <h3>현재 활동인원</h3>
                    <p>약 30명</p>
                    <h3>지원방법</h3>
                    <p>-자격 : 동국대학교 학생 </br>
                        -모집인원 : 제한 없음 </br>
                        -모집일정 : 상시 모집 </br>
                        -지원방법 : 문자로 성명, 법명, 학과, 학번, 연락처 제출 </br>
                        문의 : 정서영, 010-6828-7228 / 학생회관 2층 불교학생회실 </br></p>
                    <h3>회장의 한마디</h3>
                    <p>“다 함께 해탈로 나아갑시다”</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}