{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        <li>

                            <!-- Excerpt -->
                            <article class="box excerpt">
                                <header>
                                    <span class="date">SNS</span>
                                </header>
                                <div class="col-6 col-12-small">
                                    <ul class="icons">
                                        <a href="#"></a>
                                        <li class="icon brands fa-twitter"></a>
                                            <a href="#">@untitled</a>
                                        </li>
                                        <li class="icon brands fa-instagram">
                                            <a href="#">instagram.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-dribbble">
                                            <a href="#">dribbble.com/untitled</a>
                                        </li>
                                        <li class="icon brands fa-facebook-f">
                                            <a href="#">facebook.com/untitled</a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </li>

                        <li>
                            <!-- Highlights -->
                            <section>
                                <ul class="divided">
                                    <li>

                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3><strong>Q&A</strong></h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'question:프론티어'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>
                                    </li>

                                    <li>
                                        <!-- Highlight -->
                                        <article class="box highlight">
                                            <header>
                                                <h3>Review</h3>
                                            </header>
                                            <p>내용추가</p>
                                            <ul class="actions">
                                                <li><a href="{% url 'review:프론티어'%}" class="button icon solid fa-file">More</a></li>
                                            </ul>
                                        </article>

                                    </li>
                                </ul>
                            </section>

            </div>

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium imp-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2> <strong>프론티어</strong> <br /></h2>
                    </header>
                    <span class="image featured"><img src="{%static 'images/프론티어.jpg' %}" alt="" /></span>
                    <h3>동아리 한줄소개</h3>
                    <p>창업동아리 프론티어입니다. 
                        자신만의 사업아이템을 발굴하고 사업계획서를 작성합니다.</p>
                    <h3>동아리 소개</h3>
                    <p>자신만의 사업아이템을 발굴하고 이에 살을 붙이고 보완하여 완성도 있는 사업계획서를 작성하는 활동이 주를 이룹니다. 
                        그 밖에 창업자로써의 역량을 기를 수 있는 활동, 공모전 지원 활동 등을 계획하고 있으며, 
                        앞서 창업을 하신 선배들과의 만남, 강연 또한 준비되어 있습니다.</p>
                    <h3>현재 활동인원</h3>
                    <p>20명</p>
                    <h3>지원방법</h3>
                    <p>-자격 – 동국대 재학생 (휴학여부 무관) </br>
                        -모집인원 – 10명 내외 </br>
                        -모집일정 – ~3월 18일 (개강일정에 따라 변동가능) </br>
                        -지원방법 – 구글폼 지원서 작성- 추후 면접 </br>
                        (구글폼 링크는 에타에 ‘프론티어’ 검색 혹은 대표자 연락처로 연락주세요!) </br>
                        -문의 (대표자 성함, 연락처/ 동방위치) </br>
                        회장 신보은 010-8548-7113 </br>
                        부회장 정동현 010-9060-4463 </br>
                        위치 : 학생회관 2층 프론티어 </p>
                    <h3>회장의 한마디</h3>
                    <p>창업에 대해 잘 몰라도 차근차근 알아가려는 마음가짐만 있다면 부담없이 지원해주세요! </br>
                        동방에 침대, 냉장고, 전자레인지, 소파, 사물함 다 있어서 편해요!</p>
                </article>

            </div>

        </div>
    </div>
</section>
</body>
{% endblock %}