{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>

<!--  sidebar  -->

<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a href="{% url 'review:showreview' %}"><strong>전체</strong></a>
    <button class="dropdown-btn">공연분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:로터스'%}">로터스</a>
      <a href="{% url 'review:극예술연구회' %}">극예술연구회</a>
      <a href="{% url 'review:뭉게구름' %}">뭉게구름</a>
      <a href="{% url 'review:아리랑' %}">아리랑</a>
      <a href="{% url 'review:음샘' %}">음샘</a>
      <a href="{% url 'review:피어리스던' %}">피어리스던</a>
      <a href="{% url 'review:현여울' %}">현여울</a>
      <a href="{% url 'review:AJAX' %}">AJAX</a>
      <a href="{% url 'review:HOLA' %}">HOLA</a>
      <a href="{% url 'review:ODC' %}">ODC</a>
      <a href="{% url 'review:OPUS' %}">OPUS</a>
    </div>

    <button class="dropdown-btn">봉사분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <li><a href="{% url 'main:길'%}">길</a></li>
      <a href="{% url 'review:손짓사랑회'%}">손짓사랑회</a>
      <a href="{% url 'review:젊은새이웃'%}">젊은새이웃</a>
      <a href="{% url 'review:페인터즈'%}">페인터즈</a>
      <a href="{% url 'review:푸름누리'%}">푸름누리</a>
      <a href="{% url 'review:한글학교하람'%}">한글학교하람</a>
      <a href="{% url 'review:ELF'%}">E.L.F</a>
      <a href="{% url 'review:RCY'%}">RCY</a>
    </div>

    <button class="dropdown-btn">사회분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:동국불교학생회'%}">동국불교학생회</a>
      <a href="{% url 'review:프론티어'%}">프론티어</a>
      <a href="{% url 'review:KUSA'%}">KUSA</a>
      <a href="{% url 'review:RICH'%}">RICH</a>
      <a href="{% url 'review:UNSA'%}">UNSA</a>
    </div>

    <button class="dropdown-btn">신규분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <li><a href="{% url 'review:두둠칫'%}">두둠칫</a></li>
      <a href="{% url 'review:멋쟁이사자처럼'%}">멋쟁이사자처럼</a>
      <a href="{% url 'review:인액터스'%}">인액터스</a>
      <a href="{% url 'review:잼잼'%}">잼잼</a>
      <a href="{% url 'review:FC엘레펜테'%}">FC엘레펜테</a>
      <a href="{% url 'review:QUD'%}">QUD</a>
    </div>

    <button class="dropdown-btn">연구분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:경영학연구회'%}">경영학연구회</a>
      <a href="{% url 'review:경제학연구회'%}">경제학연구회</a>
      <a href="{% url 'review:국제통상연구회'%}">국제통상연구회</a>
      <a href="{% url 'review:정치학연구회'%}">정치학연구회</a>
    </div>

    <button class="dropdown-btn">예창분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <li><a href="{% url 'main:그리고그림'%}">그리고그림</a></li>
      <a href="{% url 'review:동국문학회'%}">동국문학회</a>
      <a href="{% url 'review:동국서도회'%}">동국서도회</a>
      <a href="{% url 'review:동그라미'%}">동그라미</a>
      <a href="{% url 'review:디딤돌'%}">디딤돌</a>
      <a href="{% url 'review:만화얼'%}">만화얼</a>
      <a href="{% url 'review:애드러쉬'%}">애드러쉬</a>
    </div>

    <button class="dropdown-btn">체육제1분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:기우회'%}">기우회</a>
      <a href="{% url 'review:명궁'%}">명궁</a>
      <a href="{% url 'review:선무부'%}">선무부</a>
      <a href="{% url 'review:터스커스'%}">터스커스</a>
      <a href="{% url 'review:COURTIST'%}">COURTIST</a>
      <a href="{% url 'review:DUTC'%}">DUTC</a>
      <a href="{% url 'review:FC_TOTO'%}">FC_TOTO</a>
      <a href="{% url 'review:LAE'%}">L.A.E</a>
    </div>

    <button class="dropdown-btn">체육제2분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:동국탐험연구회'%}">동국탐험연구회</a>
      <a href="{% url 'review:무법'%}">무법</a>
      <a href="{% url 'review:바람소리'%}">바람소리</a>
      <a href="{% url 'review:산악부'%}">산악부</a>
      <a href="{% url 'review:수중탐구연구회'%}">수중탐구연구회</a>
      <a href="{% url 'review:DUST'%}">DUST</a>
    </div>

    <button class="dropdown-btn">학술분과
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="{% url 'review:CAFE_IN'%}">CAFE_IN</a>
      <a href="{% url 'review:맑스철학연구회'%}">맑스철학연구회</a>
      <a href="{% url 'review:DNA'%}">DNA</a>
      <a href="{% url 'review:DUSSA'%}">DUSSA</a>
      <a href="{% url 'review:KCC'%}">KCC</a>
      <a href="{% url 'review:MECS'%}">MECS</a>
      <a href="{% url 'review:NSA'%}">NSA</a>
    </div>
  </div>


  <!-- navbar open 버튼 -->
  <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776; 동아리목록</span>

  <!--  script부분  -->
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "170px"; /* sidebar 넓이*/
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }

  </script>
</body>

</html>